<template>
  <v-card>
    <v-toolbar class="primary primaryText--text">
      <v-toolbar-title> Edit Process: {{editStepName}} </v-toolbar-title>
    </v-toolbar>
    <v-container fluid>
      <v-card-text>

        <!-- Begin Input Row -->
        <v-form ref="form">
          <v-text-field label="Name" v-model="editStepModel.name"> </v-text-field>
        </v-form>

      <v-data-table :headers="headers" :items="editStepModel.steps"  hide-actions class="elevation-1">
        <template slot="items" slot-scope="props">
              <td>
                <v-select label="Area" :items="form_select_areas" item-text="area_name" item-value="area_id" v-model="props.item.area_id" return-object single-line required ></v-select>
              </td>
              <td>
                <v-select label="Process Number" :items="form_select_steps" v-model="props.item.step_no" required ></v-select>
              </td>
              <td>
                <v-checkbox label="Always Show?" v-model="props.item.always_show">
                </v-checkbox>
              </td>
              <td>
                <v-btn flat icon color="pink" @click="removeStep(props.item, props.item.area_id)">
                  <v-icon>close</v-icon>
                </v-btn>
            </td>
            </template>
      </v-data-table>

      <v-card-actions>
        <v-btn @click="updateStep()" class="green lighten-1 white--text" :disabled="checkForm()" :loading="!editDone">Update</v-btn>
        <v-btn class="white" @click="addAreaToStep()">Add Process</v-btn>
        <v-spacer></v-spacer>
        <v-btn @click="close()" class="white">Close</v-btn>
      </v-card-actions>
    </v-card-text>
  </v-container>
</v-card>
</template>

<script>
import { http } from '../../config/http'

export default {
  data: () => ({
    changedStep: {
      name: ''
    },
    data_areas: [],
    headers: [{
        text: 'Area',
        align: 'left',
        value: 'area_name',
        sortable: false
      },
      {
        text: 'Step Number',
        value: 'calories',
        sortable: false,
        align: 'left'
      },
      {
        text: 'Always Show',
        value: 'fat',
        align: 'left',
        sortable: false
      },
      {
        text: '',
        value: 'carbs',
        sortable: false
      }
    ],
    editDone: true
  }),

  props: {
    areas_data: {
      type: Array
    },
    rules: {
      type: Object
    },
    editStepName: {
      type: String,
      default: ''
    },
    form_select_steps: {
      type: Array
    },
    form_select_areas: {
      type: Array
    },
    editStepModel: {
      type: Object
    }
  },

  methods: {
    
    postLoadEditModal(){
      this.changedStep = this.step;
      
      // Object.keys(this.areas_data).forEach(key => {
        // this.data_areas[key] = {
        //   data_area: this.areas_data[key],
        //   step: 0,
        //   always_show: 1
        // };

        // this.form_select_steps[key] = Number(key) + 1;
        // this.form_select_areas[key] = { name: this.areas_data[key].name, id: this.areas_data[key]._id };
      // });

      // console.log('Select Steps');
      // console.log(this.form_select_steps);
      // console.log('Select Areas');
      // console.log(this.form_select_areas);
      // console.log('Step Model');
      // console.log(this.editStepModel);
    },

    updateStep(){
      // console.log(this.editStepModel._id);
      this.editDone = false
      console.log('update step', this.editStepModel);

      let new_formatted_steps = [];
      let step_update = this.editStepModel;
      console.log('step_store update', step_update);

      for(let index_steps in this.editStepModel.steps){
        let new_formatted_steps_row = {
          always_show: (step_update.steps[index_steps].always_show) ? true : false,
          area_id: step_update.steps[index_steps].area_id,
          area_name: step_update.steps[index_steps].area_name,
          step_no: step_update.steps[index_steps].step_no
        };

        if(typeof new_formatted_steps_row.area_id === 'object'){ // for new area added to process
          new_formatted_steps_row.area_id = step_update.steps[index_steps].area_id.area_id;
          new_formatted_steps_row.area_name = step_update.steps[index_steps].area_id.area_name;
        }

        new_formatted_steps.push(new_formatted_steps_row);
      }

      this.editStepModel.steps = new_formatted_steps;
      console.log('update process', this.editStepModel);

      http.put("/processes/" + this.editStepModel._id, this.editStepModel).then(response => {
          this.alert(true, 'Edit', 'step')
          this.editDone = true
        })
        .catch(e => {
          this.alert(false, 'Edit', 'step')
          this.editDone = true
        });
    },

    addAreaToStep(){
      this.editStepModel.steps.push({ area_name: null, step_no: 1, always_show: false, area_id: null  });
    },

    removeStep(area_data, area_id){
      let selectedArea = area_data
      let processModel = this.editStepModel
      let processId = this.editStepModel._id
      let stepAreas = this.editStepModel.steps
      /*
      let queryArea = stepAreas.find((obj) => { return obj === selectedArea })
      console.log('queryArea', queryArea)
      */

      stepAreas = stepAreas.filter(( obj ) => {
        return obj !== selectedArea;
      })

      processModel.steps = stepAreas

      /*
      console.log('newStepAreas', stepAreas)
      console.log('editModel', processModel)
      */

      http.put("/processes/" + processId, processModel).then(response => {
        console.log('updated process')
      })
    },

    checkDuplicateInObject(propertyName, inputArray = []) {
      let seenDuplicate = false, testObject = {};

      inputArray.map((item) => {
        let itemPropertyName = item[propertyName]; 
        if(itemPropertyName in testObject) {
          testObject[itemPropertyName].duplicate = true;
          item.duplicate = true;
          seenDuplicate = true;
        } else {
          testObject[itemPropertyName] = item;
          delete item.duplicate;
        }
      });
      
      return seenDuplicate;
    },

    load() {
      this.step = {};
      this.data_areas = [];
      this.submitDone = true;

    },

    close() {
      this.load();
      this.$emit('closeEdit')
    },

    alert(success, callName, resource) {
      this.$emit('alert', success, callName, resource)
      this.close()
    },

    checkForm() {
      if (this.editStepModel.name == '') {
        return true
      } else {
        return false
      }
    }
  },

  mounted() {
    this.postLoadEditModal();
    console.log('steps', this.editStepModel);
    console.log('form_select_areas', this.form_select_areas);
  }

}
</script>

