<template>
<v-card>
  <v-toolbar class="primary primaryText--text">
    <v-toolbar-title> Add Process </v-toolbar-title>
  </v-toolbar>
  <v-container fluid>
    <v-card-text>

    <v-alert :value="true" color="error" v-if="has_error" v-html="error_message"></v-alert>

      <!-- Begin Input Row -->
      <v-form ref="form">
        <v-text-field label="Route Name" v-model="step.name" required> </v-text-field>
      </v-form>
      <p>Select Area(s) for the route you're going to add depending on your desired Process.</p>

      <v-alert :value="warningAddArea" type="error">
        Please add an area record before adding a process record.
      </v-alert>

      <v-data-table :headers="headers" :items="step.steps" hide-actions required> </v-text-field>
      </v-form>
        <template slot="items" slot-scope="props">
              <td>
                <v-select label="Area" :items="form_select_areas" item-text="name" item-value="id" v-model="props.item.area" @change="changeStep(props.item, props.item.area)" return-object single-line required>
                </v-select>
              </td>
              <td>
                <v-select label="Process Number" :items="form_select_steps" v-model="props.item.step"  required>
                </v-select>
              </td>
              <td>
                <v-checkbox label="Always Show?" v-model="props.item.always_show">
                </v-checkbox>
              </td>
              <td>
                <v-btn flat icon color="pink">
                  <v-icon>close</v-icon>
                </v-btn>
            </td>
            </template>
      </v-data-table>

      <v-card-actions>
        <v-btn @click="submitStep()" class="green lighten-1 white--text" :disabled="checkForm()" :loading="!submitDone">Save</v-btn>
        <v-btn class="white" @click="addAreaToStep()" @disabled="warningAddArea">Add Process</v-btn>
        <v-spacer></v-spacer>
        <v-btn @click="close()" class="white">Close</v-btn>
      </v-card-actions>
    </v-card-text>
  </v-container>
</v-card>
</template>

<script>
import {
  http
} from '../../config/http'

export default {
  data: () => ({
    step: { steps: [] },

    has_error: false,
    error_message: "",

    warningAddArea: false,
    submitDone: true,
    form_select_steps: [],
    headers: [{
        text: 'Area',
        align: 'left',
        value: 'area_name',
        sortable: false
      },
      {
        text: 'Step Number',
        value: 'calories',
        sortable: false,
        align: 'left'
      },
      {
        text: 'Always Show',
        value: 'fat',
        align: 'left',
        sortable: false
      },
      {
        text: '',
        value: 'carbs',
        sortable: false
      }
    ],
    form_select_areas: [],
    data_areas: []
  }),

  props: {
    rules: {
      type: Object
    },
    areas_data: {
      type: Array
    },
    createStepModel: {
      type: Object
    }
  },

  methods: {
    submitStep() {
      this.submitDone = false;
      let new_formatted_steps = [];
      let step_store = this.createStepModel;
      console.log('step_store', step_store);

      for(let index_steps in this.createStepModel.steps){
        new_formatted_steps[index_steps] = {
          always_show: (step_store.steps[index_steps].always_show) ? true : false,
          area_id: (step_store.steps[index_steps].area.id != undefined) ? step_store.steps[index_steps].area.id : null,
          area_name: step_store.steps[index_steps].area.name,
          step_no: step_store.steps[index_steps].step
        };
      }

      this.createStepModel.steps = new_formatted_steps;
      // console.log('step store new formatted step', this.createStepModel);

      if(this.checkDuplicateInObject('step_no', new_formatted_steps) != true || this.checkDuplicateInObject('area_id', new_formatted_steps) != true){
        http.post("/processes", this.createStepModel)
          .then(response => {
            this.submit = true
            this.alert(true, 'Create', 'step')
            this.close()
          })
          .catch(e => {
            this.submit = true
            this.alert(false, 'Create', 'step')
          });
      } else {
        this.has_error = true;
        this.submitDone = true;
        this.error_message = "Step Numbers or Area should have no duplications.";
      }
    },

    checkDuplicateInObject(propertyName, inputArray = []) {
      let seenDuplicate = false, testObject = {};

      inputArray.map((item) => {
        let itemPropertyName = item[propertyName]; 
        if (itemPropertyName in testObject) {
          testObject[itemPropertyName].duplicate = true;
          item.duplicate = true;
          seenDuplicate = true;
        }
        else {
          testObject[itemPropertyName] = item;
          delete item.duplicate;
        }
      });
      
      return seenDuplicate;
    },

    addAreaToStep(){
      console.log(this.createStepModel.steps);
      let render_steps = [];
      render_steps = this.createStepModel.steps;
      render_steps.push({ area_id: "", area_name: "", step: 1, always_show: false  });

      this.createStepModel.steps = render_steps;
    },

    selectStep(){
    },

    load() {
      this.step = {};
      this.data_areas = [];
      this.submitDone = true;

      this.form_select_steps = [];
      this.form_select_areas = [];
    },

    changeStep(propsItem, areaData){
      // this.area_id = areaData.id ;
      // this.area_name = areaData.name;
      // console.log('change props item', propsItem);
      // console.log('change area data', areaData);
      // console.log('changeStep areaData', areaData);
      // console.log('changeStep propsItem', propsItem);
      // console.log('changeStep model steps', this.createStepModel.steps);
    },

    close() {
      this.load()
      this.$emit('closeAdd')
    },

    checkForm() {

      if ( (this.step.name == '' || this.step.name == null) ) {
        return true;
      } else {
        return false;
      }
    },

    alert(success, callName, resource) {
      console.log('Add Alerting')
      this.$emit('alert', success, callName, resource)
    }
  },

  mounted(){
    Object.keys(this.areas_data).forEach(key => {
      this.data_areas[key] = {
        // data_area: this.areas_data[key],
        area_id: this.areas_data[key]._id,
        area_name: this.areas_data[key].name,
        step: 0,
        always_show: true
      };

      this.form_select_steps[key] = Number(key) + 1;
      this.form_select_areas[key] = { name: this.areas_data[key].name, id: this.areas_data[key]._id };

    });
    this.step = this.createStepModel;

    console.log(this.form_select_steps);
    if(this.form_select_areas.length == 0){
      this.warningAddArea = true;
    }

    // this.step.name = 'hekhek';
  }
}
</script>
