<template>
  <v-card>
    <v-toolbar class="primary primaryText--text">
      <v-toolbar-title> Delete Process: {{ProcessName}}</v-toolbar-title>
    </v-toolbar>
    <v-container fluid>
      <v-card-text>
        <p class="text-lg-left">Are you sure you want to delete this Process?</p>
        <v-card-actions>
          <v-btn @click="archiveRecord()" class="red lighten-1 white--text">Delete</v-btn>
          <v-btn @click="close()" class=" white">Cancel</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-container>
  </v-card>
</template>

<script>
import { http } from '../../config/http'

export default {
  data: () => ({
    ProcessName: "",
    ProcessToDelete: {
      name: '',
      printer_ip: '',
      description: ''
    },
    deleteDone: true
  }),

  props: {
    process: {
      type: Object
    },
    rules: {
      type: Object
    },
    editName: {
      type: String,
      default: ''
    },
    deleteProcessName: {
      type: String,
      default: ''
    },
    editProcessDesc: {
      type: String,
      default: ''
    },
    editProcessPrinterIP: {
      type: String,
      default: ''
    }
  },

  methods: {
    load(){
      this.ProcessName = this.deleteProcessName;
    },
    archiveRecord() {
      this.editDone = false
      http
        .delete("/processes/" + this.process._id)
        .then(response => {
          this.alert(true, 'Delete', 'Process')
          this.deleteDone = true
        })
        .catch(e => {
          this.alert(false, 'Delete', 'Process')
          this.deleteDone = true
        });
    },

    close() {
      this.$emit('closeDelete')
      // this.changedProcess = { name: '', description: '' };
    },

    alert(success, callName, resource) {
      this.$emit('alert', success, callName, resource)
      this.close()
    },

    // checkForm() {
    //   if (this.editProcessName == '') {
    //     return true
    //   } else {
    //     return false
    //   }
    // }
  },

  mounted() {
    this.load();
    // this.changedProcess = this.Process
  }

}
</script>

<style>

</style>
