<template>
  <v-app :dark="isDarkMode">
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      app
      width="246"
      class="primary"
    >
      <v-list>
        <div v-for="(item, i) in items">
          <v-list-tile
            
            v-if="!item.nested"
            value="true"
            :key="i"
            :href="item.href"
            :class="getNavClass(item.href)"
          >
            <v-list-tile-action>
              <v-icon class="primaryText--text" v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="primaryText--text" v-text="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-group v-if="item.nested" class="primaryText--text" color="white">

            <v-list-tile slot="activator">
              <v-list-tile-action>
                <v-icon class="primaryText--text" v-html="item.icon"></v-icon>
              </v-list-tile-action>
              <v-list-tile-title class="primaryText--text">{{item.title}}</v-list-tile-title>
            </v-list-tile>

            <v-list-tile
              v-for="sub_menu in item.menu"
              :href="sub_menu.href"
              @click=""
            >
              <v-list-tile-title v-text="sub_menu.title"></v-list-tile-title>
              <v-list-tile-action>
                <v-icon class="primaryText--text" v-text="sub_menu.icon"></v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list-group>
        </div>

        <!--
        <v-list-group prepend-icon="account_circle" class="primaryText--text">
          <v-list-tile slot="activator">
            <v-list-tile-title class="primaryText--text">Users</v-list-tile-title>
          </v-list-tile>

          <v-list-tile
            v-for="(admin, i) in admins"
            :key="i"
            @click=""
          >
            <v-list-tile-title v-text="admin[0]"></v-list-tile-title>
            <v-list-tile-action>
              <v-icon v-text="admin[1]"></v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </v-list-group>
        -->
      </v-list>
    </v-navigation-drawer>

    <v-toolbar class="primary primaryText--text" fixed app :clipped-left="clipped">
      <v-toolbar-side-icon class="primaryText--text" @click.stop="drawer = !drawer"></v-toolbar-side-icon>

      <v-toolbar-title> {{ title }} </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-flex xs5 sm2 d-flex>
        <v-select :items="areas" item-value="_id" item-text="name" :rules="[v => !!v || 'Select area to show items in current area']" label="Select an area" v-model="selected_area" @change="changeArea()"></v-select>
      </v-flex>
    </v-toolbar>

    <main>
      <v-content>
        <v-container fluid pt-1>
            <v-layout column align-center>
              <v-fade-transition mode="out-in">
                <router-view @alert="alert" ></router-view>
              </v-fade-transition>
            </v-layout>
        </v-container>
      </v-content>
    </main>

    <v-footer :fixed="fixed" app>
      <span> Powered by <a class="lightText--text" href="http://logic8.io">LOGIC8 Business Solutions Corp.</a></span>
    </v-footer>

    <v-snackbar
    bottom
    :value="alertOpen"
    :color="alertSuccess ? 'success' : 'error'"
     >
     {{ alertString }}
    </v-snackbar>
  </v-app>
</template>

<script>

import { http } from "./config/http.js"
import areaItem from "./components/area/area.vue"

export default {
  data: () => {
    return {
      errors: [],
      clipped: true,
      drawer: false,
      fixed: false,
      selected_area: 0,
      areas: [],
      admins: [
        ['Management', 'people_outline'],
        ['Settings', 'settings']
      ],
      items: [
        {
          icon: "view_module",
          title: "Main",
          href: "/home",
          router: true,
          nested: false
        },
        {
          icon: "settings",
          title: "Configuration",
          nested: true,
          menu: [
            {
              icon: "add_location",
              title: "KDS Area",
              href: "/areas",
              router: true,
              nested: false
            },
            {
              icon: "repeat",
              title: "KDS Process",
              href: "/process",
              router: true,
              nested: false
            },
            {
              icon: "fastfood",
              title: "KDS Items",
              href: "/items",
              router: true,
              nested: false
            }
          ]
        },
        {
          icon: "queue",
          title: "Claiming Queue",
          href: "/claim",
          router: true,
          nested: false
        },
        {
          icon: "tv",
          title: "Customer Queue",
          href: "/claiming_customer",
          router: true,
          nested: false
        },
        /*
        {
          icon: "add_box",
          title: "KDS Items",
          href: "/items",
          router: true,
          nested: false
        },
        */
        {
          icon: "attach_file",
          title: "Import Items",
          href: "/import_item",
          route: true,
          nested: false
        },
        /*
        {
          icon: "repeat",
          title: "KDS Process",
          href: "/process",
          router: true,
          nested: false
        },
        {
          icon: "add_location",
          title: "KDS Area",
          href: "/areas",
          router: true,
          nested: false
        },
        */
        {
          icon: "format_list_bulleted",
          title: "To Do List",
          href: "/to_do",
          router: true,
          nested: false
        },
        {
          icon: "table_chart",
          title: "Reports",
          href: "/reports",
          router: true,
          nested: false
        },
        {
          icon: "account_circle",
          title: "Users",
          href: "/users",
          router: true,
          nested: false
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "KDS",
      alertOpen: false,
      alertString: '',
      alertSuccess: false,
      isDarkMode: false,
    };
  },

  watch: {
    isDarkMode() {
      if (!this.isDarkMode) { //NOT dark mode
        this.$vuetify.theme = {
          primary: '#1B5E20', //Main color
          primaryText: '#FFFFFF', //Color for text on primary
          secondary: '#2E7D32', //Color for active nav
          lightText: '#000000'
        }
      } else { //Dark mode
        this.$vuetify.theme = {
          primary: '#424242', //Main color
          primaryText: '#FFFFFF', //Color for text on primary
          secondary: '#90CAF9', //Color for active nav
          lightText: '#FFFFFF'
        }
      }
    }
  },

  methods: {
    alert(success, callName, resource) {
      this.alertOpen = false
      this.alertString = callName + ' ' + resource
      if (success) {
        this.alertSuccess = true
        this.alertString += ' was successful.'
      } else {
        this.alertSuccess = false
        this.alertString += ' has failed.'
      }
      this.alertOpen = true
    },

    getNavClass(href) {
      if (this.$route.fullPath == href.substring(2)) {
        return 'secondary primaryText--text'
      } else {
        return 'primary primaryText--text'
      }
    },

    changeArea() {
      let url = window.location.href;
      let new_url = '';
      let url_parts = '';
      url = url.split('?');
      url = url[0];

      if(this.selected_area != this.$route.query.area){
        url_parts = url.split('/');
        new_url = url_parts[0] + '//' + url_parts[2] + '/' + 'home?area=' + this.selected_area;

        window.location = new_url;
      }
    },

    load() {
      // Get Areas
      http.get("areas").then(response => {
        this.areas = response.data.data;

        if(this.$route.query.area !== undefined){
          this.selected_area = this.$route.query.area
        }
        // if(this.selected_area == 0){
        //   this.selected_area = this.areas[0]._id;
        // }
      }).catch(e => {
        this.errors.push(e);
      });


    }
  },
  mounted () {
    this.load();
  }
};
</script>
