<template>
    <v-card>
      <v-toolbar class="primary primaryText--text">
        <v-toolbar-title > Add Area </v-toolbar-title>
      </v-toolbar>
      <v-container fluid>
        <v-card-text>
          <v-alert :value="hasError" type="error">
            {{ errorMessage }}
          </v-alert>
          <!-- Begin Input Row -->
          <v-form ref="form">
            <v-text-field label="Name" v-model="area.name" required> </v-text-field>
            <v-text-field label="Printer IP Address" v-model="area.printer_ip"> </v-text-field>
            <v-text-field label="Description" v-model="area.description"> </v-text-field>
            <v-checkbox v-model="area.controller" label="Enable Controller?" @change="$v.checkbox.$touch()" @blur="$v.checkbox.$touch()"></v-checkbox>
          </v-form>

          <v-card-actions>
            <v-btn @click="submitStep()" class="green lighten-1 white--text" :disabled="checkForm()" :loading="!submitDone">Submit</v-btn>
            <v-spacer></v-spacer>
            <v-btn @click="close()" class=" white">Close</v-btn>
          </v-card-actions>
        </v-card-text>
      </v-container>
    </v-card>

</template>

<script>
import { http } from '../../config/http'

export default {
  data: () => ({
    area: {
      name: '',
      printer_ip: '',
      description: '',
      controller: ''
    },
    hasError: false,
    submitDone: true,
    errorMessage: '',
    noExistingRecord: false
    
  }),

  props: {
    areas: {
      type: Array
    },
    rules: {
      type: Object
    }
  },

  methods: {
    submitStep() {
      console.log('submitted', this.areas); // noExistingRecord
      
      let existing_records = this.areas.filter(obj => {
        return obj.name === this.area.name;
      });
      this.submitDone = false

      if(existing_records.length > 0){

        this.hasError = true;
        this.submitDone = true;
        this.errorMessage = 'Record is already existing.';

      } else if(existing_records.length == 0){
        this.hasError = false;
        this.errorMessage = '';
        http
        .post("/areas", this.area)
        .then(response => {
          this.submit = true
          this.alert(true, 'Create', 'Area')
          this.close()
        })
        .catch(e => {
          this.submit = true
          this.alert(false, 'Create', 'Area')
        });
      }
    },

    load() {
      this.area = {
        email: '',
        printer_ip: '',
        description: '',
        controller: ''
      }
      this.submitDone = true
    },

    close() {
      this.load()
      this.$emit('closeAdd')
    },

    checkForm() {
      if (this.area.access_area_id <= 0 || this.area.name == '') {
        return true
      } else {
        return false
      }
    },

    alert(success, callName, resource) {
      console.log('Add Alerting')
      this.$emit('alert', success, callName, resource)
    }
  }
}
</script>
