<template>
  <v-card>
    <v-toolbar class="primary primaryText--text">
      <v-toolbar-title> Edit area: {{editName}} </v-toolbar-title>
    </v-toolbar>
    <v-container fluid>
      <v-card-text>

        <!-- Begin Input Row -->
        <v-form ref="form">
          <v-text-field label="Name" v-model="area.name" > </v-text-field>
          <v-text-field label="Printer IP Address" v-model="area.printer_ip"> </v-text-field>
          <v-text-field label="Description" v-model="area.description" > </v-text-field>
          <v-checkbox v-model="area.controller" label="Enable Controller?" ></v-checkbox>
        </v-form>

        <v-card-actions>
          <v-btn @click="edit()" :loading="!editDone" :disabled="checkForm()" class="green lighten-1 white--text">Submit</v-btn>
          <v-spacer></v-spacer>
          <v-btn @click="close()" class=" white">Close</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-container>
  </v-card>
</template>

<script>
import { http } from '../../config/http'

export default {
  data: () => ({
    changedArea: {
      name: '',
      printer_ip: '',
      description: '',
      controller: ''
    },
    editDone: true
  }),

  props: {
    area: {
      type: Object
    },
    rules: {
      type: Object
    },
    editName: {
      type: String,
      default: ''
    },
    editAreaName: {
      type: String,
      default: ''
    },
    editAreaDesc: {
      type: String,
      default: ''
    },
    editAreaController: {
      type: Number,
      default: 0
    },
    editAreaPrinterIP: {
      type: String,
      default: ''
    }
  },

  methods: {
    edit() {
      this.editDone = false
      http
        .put("/areas/" + this.area._id, this.area)
        .then(response => {
          this.alert(true, 'Edit', 'Area')
          this.editDone = true
        })
        .catch(e => {
          this.alert(false, 'Edit', 'Area')
          this.editDone = true
        });
    },

    load(){
      Object.assign(this.$data, this.$options.data())
      console.log('areaeditdialog');
      this.changedArea = this.area;
      console.log('changedArea', this.changedArea);
      console.log('area')
    },

    close() {
      console.log('dialog is closed');

      this.$emit('closeEdit')
    },

    alert(success, callName, resource) {
      this.$emit('alert', success, callName, resource)
      this.close()
    },

    checkForm() {
      if (this.editAreaName == '') {
        return true
      } else {
        return false
      }
    }
  },

  mounted() {
    this.load();
    this.changedArea = this.area
  }

}
</script>

<style>

</style>
