<template>
  <v-card>
    <v-toolbar class="primary primaryText--text">
      <v-toolbar-title> Edit User: {{editName}} </v-toolbar-title>
    </v-toolbar>
    <v-container fluid>
      <v-card-text>

        <!-- Begin Input Row -->
        <v-form ref="form">
          <v-text-field label="Name" v-model="changedUser.name"> </v-text-field>
          <v-select :items="areas" item-value="_id" item-text="name" :rules="[v => !!v || 'Designated area is required']" label="Designated area" v-model="changedUser.access_area_id" required></v-select>
          <v-text-field label="Email" v-model="changedUser.email" :rules="[rules.email]"> </v-text-field>
        </v-form>

        <v-card-actions>
          <v-btn @click="edit()" :loading="!editDone" :disabled="checkForm()" class="green lighten-1 white--text">Submit</v-btn>
          <v-spacer></v-spacer>
          <v-btn @click="close()" class="red white--text">Close</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-container>
  </v-card>
</template>

<script>
import { http } from '../../config/http'

export default {
  data: () => ({
    changedUser: {
      name: '',
      email: '',
      access_area_id: 0
    },
    areas: [],
    editDone: true
  }),

  props: {
    user: {
      type: Object
    },
    rules: {
      type: Object
    },
    editName: {
      type: String,
      default: ''
    }
  },

  methods: {
    edit() {
      this.editDone = false
      http
        .put("/users/" + this.user._id, this.changedUser)
        .then(response => {
          this.alert(true, 'Edit', 'User')
          this.editDone = true
        })
        .catch(e => {
          this.alert(false, 'Edit', 'User')
          this.editDone = true
        });

    },

    fetchArea() {
      http.get("areas").then(response => {
        this.areas = response.data.data;
        console.log('areas: ',this.areas)
      }).catch(e => {
        this.errors.push(e);
      });
    },

    close() {
      this.$emit('closeEdit')
    },

    alert(success, callName, resource) {
      this.$emit('alert', success, callName, resource)
      this.close()
    },

    checkForm() {
      if (this.changedUser.access_area_id <= 0 || this.changedUser.name == '' || this.changedUser.email == '') {
        return true
      } else {
        return false
      }
    }
  },

  mounted() {
    this.fetchArea()
    this.changedUser = this.user

    console.log(this.changedUser)
  }

}
</script>

<style>

</style>
