<template>
<v-container fluid grid-list-lg>
  <v-layout row wrap>
    <v-flex xs12 sm12 md12>
      <v-card>
        <v-card-title>
          Area List
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        
        <v-data-table :headers="headers" :items="areas" :search="search">
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">
              <v-icon
                small
                class="mr-2"
                @click="setupEditArea(props.item.id, props.item)"
              >edit</v-icon>
              <v-icon
                small
                class="mr-2"
                @click="setupDeleteArea(props.item._id, props.item)"
              >delete</v-icon>
            </td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>

        </v-data-table>
        <v-card-text style="height: 100px; position: relative">
          <!-- Add Dialog -->
          <v-dialog v-model="addDialog" lazy absolute max-width="50%">
            <!-- Add Dialog Button -->
            <v-btn absolute dark fab top left color="green" slot="activator">
              <v-icon>add</v-icon>
            </v-btn>

            <!-- Add Dialog -->
            <areaAddDialog :rules="rules" :areas="areas" @closeAdd="addDialog = false" @alert="alert">
            </areaAddDialog>
          </v-dialog>

          <!-- Edit Dialog -->
          <v-dialog v-model="editDialog" lazy absolute max-width="50%">
            <areaEditDialog :rules="rules" :area="areaToEdit" :editAreaName="editAreaName" :editAreaDesc="editAreaDesc" :editAreaPrinterIP="editAreaPrinterIP"
            @closeEdit="editDialog = '', modal_for = '', area = {}, areaToEdit = {}, editAreaName = '', editAreaDesc = '', editAreaPrinterIP = ''" @alert="alert">
            </areaEditDialog>
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="deleteDialog" lazy absolute max-width="40%">
                <areaDeleteDialog :areaToDelete="areaToDelete" :area="areaToDelete" :deleteAreaName="deleteAreaName" @closeDelete="deleteDialog = false" @alert="alert">

                </areaDeleteDialog>
              </v-dialog>

        </v-card-text>
      </v-card>
    </v-flex>

  </v-layout>
</v-container>
</template>

<script>
// JS Code
import {
  http
} from "../config/http.js"
import areaItem from "../components/area/area.vue"
import areaAddDialog from "../components/area/areaAddDialog.vue"
import areaEditDialog from "../components/area/areaEditDialog.vue"
import areaDeleteDialog from "../components/area/areaDeleteDialog.vue"

export default {
  //Variables
  data: () => ({
    errors: [],
    search: '',
    headers: [{
        text: 'Area Name ',
        value: 'name'
      },
      {
        text: 'Actions',
        value: 'action',
        sortable: false
      }
    ],
    rules: {
      name: value => {
        return (value != null || value != '') || "Invalid name.";
      }
    },
    editName: '',
    areaToEdit: {},
    modal_for: '',
    areaToDelete: {},
    deleteDialog: false,
    addDialog: false,
    editDialog: false,
    areas: [],
    editAreaId: '',
    editAreaName: '',
    editAreaPrinterIP: '',
    editAreaController: '',
    editAreaDesc: '',
    deleteAreaName: ''
  }),

  //Components this page will need
  components: {
    areaItem: areaItem,
    areaAddDialog: areaAddDialog,
    areaEditDialog: areaEditDialog,
    areaDeleteDialog: areaDeleteDialog
  },

  //The methods we will need
  methods: {
    //load all areas from DB, we call this often to make sure the data is up to date
    load() {
      http.get("areas").then(response => {
        this.areas = response.data.data;
      }).catch(e => {
        this.errors.push(e);
      });
    },

    // Edit Area
    setupEditArea(id, area_data) {
      this.areaToEdit = {};
      this.editAreaName = '';
      this.editAreaDesc = '';
      this.editAreaPrinterIP = '';

      Object.keys(area_data).forEach(key => {
        this.areaToEdit[key] = area_data[key];
      });
      console.log('setup area');
      console.log(area_data);

      this.editAreaName = area_data.name;
      this.editAreaDesc = area_data.description;
      this.editAreaPrinterIP = area_data.printer_ip;
      this.editAreaController = area_data.controller;

      this.areaToEdit = {
        _id: area_data._id,
        name: area_data.name,
        description: area_data.description,
        printer_ip: area_data.printer_ip,
        controller: area_data.controller
      };

      this.editDialog = true;
      this.modal_for = 'edit';
    },

    // Archive Area
    setupDeleteArea(id, area_data) {
      this.areaToDelete = area_data;
      this.deleteAreaName = area_data.name;

      this.deleteDialog = true;
      this.modal_for = 'delete';

      // http.delete("areas/" + id).then(response => {
      //   this.load();
      // }).catch(e => {
      //   this.errors.push(e);
      // });
    },

    //build the alert info for us
    //Will emit an alert, followed by a boolean for success, the type of call made, and the name of the
    //resource we are working on
    alert(success, callName, resource) {
      console.log('Page Alerting');
      this.$emit('alert', success, callName, resource);
      this.load();
    }
  },

  //get those users
  mounted() {
    this.load();
  }
};
</script>
