<template>
<!--   <v-container>
    <v-btn color="error">Clear All</v-btn>
  </v-container> -->
  
  <v-container fluid grid-list-md>
    <v-layout row wrap v-if="!isCustomerViewing">
      <v-flex xs4 v-for="obj_trans in objects" :key="obj_trans.table_name">
        <v-card>
        <v-toolbar color="primary" dark>
          <v-toolbar-title v-bind:class="getFontSize()">{{ (obj_trans.table_name != '' || obj_trans.table_name != null) ? '#' + obj_trans.table_name : '#' + Number(obj_trans.trans_id)}}</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn icon color="pink" @click="greet(obj_trans)" v-if="!isCustomerViewing">
            <v-icon color="white">phone</v-icon>
          </v-btn>

          <v-btn icon color="info" @click="updateStatus(obj_trans, obj_trans)" v-if="!isCustomerViewing">
            <v-icon>fastfood</v-icon>
          </v-btn>
        </v-toolbar>

        <v-list two-line>
          <template v-for="(item, index) in obj_trans.items">
            <v-list-tile avatar ripple >
              <v-list-tile-action>
                <v-badge>
                  <span slot="badge">{{ item.qty }}</span>
                  <v-checkbox ></v-checkbox>
                </v-badge>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title >{{ item.name }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
          </template>
        </v-list>
      </v-card>
      </v-flex>
    </v-layout>



    <v-layout row wrap v-if="isCustomerViewing">
      <v-flex xs4 v-for="obj in objects" :key="obj.table_name">
        <!-- Show non-priority customer order -->
        <v-card color="purple darken-2" class="white--text" v-if="obj.priority_level == 0">
          <v-card-title primary-title>
          <v-spacer></v-spacer>
            <div class="text-md-center" v-bind:class="getFontSize()">{{ (obj.table_name != '' || obj.table_name != null) ? '#' + obj.table_name : '#' + Number(obj.trans_id)}}</div>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-actions>
            <v-btn icon color="pink" @click="greet(obj)" v-if="!isCustomerViewing">
              <v-icon color="white">phone</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <div class="font-weight-bold" v-if="obj.priority_level > 0">High Priority</div>
            <v-spacer></v-spacer>
            <!-- <v-btn icon color="info">
              <v-icon>print</v-icon>
            </v-btn> -->
            <v-btn icon color="info" @click="updateStatus(obj, obj)" v-if="!isCustomerViewing">
              <v-icon>fastfood</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>

        <!-- Show high-priority customer order -->
        <v-card color="orange darken-2" class="white--text" v-else-if="obj.priority_level > 0">
          <v-card-title primary-title>
          <v-spacer></v-spacer>
            <div class="text-md-center" v-bind:class="getFontSize()"># {{Number(obj.trans_id)}}</div>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-actions>
            <v-btn icon color="pink" @click="greet(obj)" v-if="!isCustomerViewing">
              <v-icon color="white">phone</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <div class="font-weight-bold" v-if="obj.priority_level > 0">High Priority</div>
            <v-spacer></v-spacer>
            <v-btn icon color="info" @click="updateStatus(obj, obj)" v-if="!isCustomerViewing">
              <v-icon>fastfood</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    
    <v-fab-transition>
      <v-btn
        v-if="!isCustomerViewing"
        @click="clearAllClaims()"
        color="error"
        dark
        fab
        fixed
        bottom
        left
      >
        <v-icon>delete</v-icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-fab-transition>

<!--
    <v-fab-transition>
      <v-btn color="pink" dark fab fixed bottom right>
        <v-icon>add</v-icon>
      </v-btn>
    </v-fab-transition>
-->

    <v-layout>
      <v-layout column class="fab-container">
        <v-tooltip left>
          <v-btn fab @click="addFontSize()" slot="activator">
            <v-icon>add</v-icon>
          </v-btn>
          <span>Zoom In</span>
        </v-tooltip>

        <v-tooltip left>
          <v-btn fab @click="subtractFontSize()" slot="activator">
            <v-icon>remove</v-icon>
          </v-btn>
          <span>Zoom Out</span>
        </v-tooltip>
      </v-layout>
    </v-layout>
  </v-container>
</template>

<style>
.fab-container {
  position: fixed;
  bottom: 38px;
  right: 2px;
}
</style>

<script>
import { http } from "../config/http.js"
import { configuration } from "../config/configuration.js"
import io from 'socket.io-client';

export default {
    data: () => ({
      socket : io(configuration.socketURL),
      socket_url: '',
      socket_port: '',

      user: '',
      fontSize: 1,
      message: '',
      isLoading: true,
      isCustomerViewing: false,
      name: '',
      objects: [],
      selectedVoice: 0,
      
      synth: window.speechSynthesis,
      voiceList: [],
      greetingSpeech: new window.SpeechSynthesisUtterance(),
      
      rowsPerPageItems: [3, 6, 9, 12],
      interval: 1,
      endVal: 0,
      options: {
        year: 0,
        month: 0,
        day: 0,
        hours: 0,
        minutes: 0,
        seconds: 0
      },
      pagination: {
        rowsPerPage: 3
      },
      items: [],
    }),
    components: {
    },
    methods: {
      onReady: function(instance, CountUp) {
        this.voiceList = [];
        
        if(this.$route.name == 'claiming_customer'){
          this.isCustomerViewing = true;
        }
      },

      getFontSize(){
        let font_class = 'display-';
        let font_class_size_value = '';
        font_class_size_value = this.fontSize.toString();

        return font_class + font_class_size_value;
      },

      loadSocketConfig() {
        this.socket_url = configuration.socketURL;

        this.socket = io(this.socket_url);
        // http.get("configuration").then(response => {
        //   console.log(response)
        //   this.socket_url = response.data.data.web_host;
        //   this.socket_port = response.data.data.socket_port;

        //   this.socket = io(this.socket_url + ':' + this.socket_port);
        // }).catch(e => {
        //   this.errors.push(e);
        // });

      },

      addFontSize(){
        this.fontSize++;

        if(this.fontSize > 3){
          this.fontSize = 3;
        }
      },
      subtractFontSize(){
        this.fontSize--;

        if(this.fontSize < 1){
          this.fontSize = 1;
        }
        console.log('subtract', this.fontSize);
      },
      
      updateStatus(transaction_obj, obj_data){
        let update_status = 2;
        let transaction_id = transaction_obj._id;
        let transaction_trans_id = transaction_obj.trans_id;
        let update_data = { trans_id: transaction_trans_id , status: update_status };

        // this.$emit('alert', true, 'Edit', 'Transaction');

        http.put("transactions/" + transaction_id, update_data ).then(response => {
          this.fetchTransactions();

          this.$emit('alert', true, 'Edit', 'Transaction');
          console.log('updated Served', transaction_id);

          this.socket.emit('communicate', {});
          this.socket.emit('claimed_trans', update_status);
          
        }).catch(e => {
          this.errors.push(e);
        });
      },

      /**
       * Shout at the user
       */
      greet(obj_data, status = 1) {
        let table_order = (obj_data.table_name != '' || obj_data.table_name != null) ? 'Table' : 'Order';
        let text_to_speech = 'Customer ' + obj_data.customer_name + ' with ' + table_order + ' Number ' + Number(obj_data.trans_id) + ', your order is ready.';

        if(status == 2){
          text_to_speech = 'Customer ' + obj_data.customer_name + '. with Order Number ' + Number(obj_data.trans_id) + '. Your order is served.';
        }

        this.greetingSpeech.text = text_to_speech;

        this.greetingSpeech.voice = this.voiceList[1];
        this.synth.speak(this.greetingSpeech);

      },

      fetchTransactions() {
        let status = '1'; //(this.$route.name == 'claiming_customer') ? '2' : '1';

        let uri = '/transactions?status=' + status;
        http.get(uri).then(response => {
          let fetched_claims = response.data.data;
          let rendered_claims = [];
          // this.objects = response.data.data;

          Object.keys(fetched_claims).forEach((claims_index) => {
            rendered_claims.push(fetched_claims[claims_index]);
          });

          this.objects = [];
          this.objects = rendered_claims;
          // console.clear();
        }).catch(e => {
          this.errors.push(e);
        });
      },

      listenForSpeechEvents () {
        this.greetingSpeech.onstart = () => {
          this.isLoading = true
        }

        this.greetingSpeech.onend = () => {
          this.isLoading = false
        }
      },

      clearAllClaims(){
        let claims = this.objects;
        let update_uri = 'transactions';
        let update_status = { status: 2 };
        console.log('pre status updated', update_status);

        // this.fetchTransactions();

        http.post(update_uri + '/clear', update_status ).then(response => {
          console.log('post status updated', response);
          // this.socket.emit('claimed_trans', update_status);
          this.$emit('alert', true, 'Edit', 'Transaction');
          
          this.socket.emit('communicate', {});
          this.socket.emit('claimed_trans', update_status);
          this.fetchTransactions();
        }).catch(e => {
          this.errors.push(e);
        });

        // Object(claims).forEach((claimed_trans, claimed_trans_index) => {
        //   let trans = { status: 0 };
        //   trans = claimed_trans;

        //   http.post(update_uri + '/clear', trans ).then(response => {
        //     console.log('status updated', response);
        //   }).catch(e => {
        //     this.errors.push(e);
        //   });
        // });
      }
    },
    created: function() {
      this.onReady();
    },
    mounted () {
      this.loadSocketConfig();

      this.fetchTransactions();
      
      this.socket.on('transaction_claimed', (data) => {
        console.log('mounted_transaction_claimed');

        this.fetchTransactions();
      });

      this.socket.on('bumping', (data) => {
        this.fetchTransactions();
      });

      // fetch all item for single transaction
      this.socket.on('broad', (data) => {
        this.fetchTransactions();
      });

      // wait for voices to load
      // I can't get FF to work without calling this first
      // Chrome works on the onvoiceschanged function
      if(this.synth.getVoices() !== undefined){
        this.voiceList = this.synth.getVoices()
      }

      if (this.voiceList.length) {
        this.isLoading = false
      }

      this.synth.onvoiceschanged = function(){
        if(this.voiceList != undefined){
          if(this.voiceList.length == 0){
            this.voiceList = this.synth.getVoices();
          }
        }

        // give a bit of delay to show loading screen
        // just for the sake of it, I suppose. Not the best reason
        setTimeout(() => {
          this.isLoading = false
        }, 800)

      }

      this.listenForSpeechEvents();
    },
  }
</script>

<style scoped>
  .iCountUp {
    font-size: 1.4em;
    margin: 0;
  }
</style>
