<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs4 v-for="obj in objects" :key="obj.table_name">
        <v-card color="purple darken-2" class="white--text">
          <v-card-title primary-title>
          <v-spacer></v-spacer>
            <div class="display-3 text-md-center">{{ (obj.table_name != '' || obj.table_name != null) ? '#' + obj.table_name : '#' + Number(obj.trans_id)}}</div>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-actions>

          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { http } from "../config/http.js"
import { configuration } from "../config/configuration.js"
import io from 'socket.io-client';

export default {
    data: () => ({
      socket: io(configuration.socketURL),
      socket_url: '',
      socket_port: '',

      isLoading: true,
      name: '',
      user: '',
      message: '',
      objects: [],
      selectedVoice: 0,
      synth: window.speechSynthesis,
      voiceList: [],
      greetingSpeech: new window.SpeechSynthesisUtterance(),
      rowsPerPageItems: [3, 6, 9, 12],
      interval: 1,
      endVal: 0,
      options: {
        year: 0,
        month: 0,
        day: 0,
        hours: 0,
        minutes: 0,
        seconds: 0
      },
      pagination: {
        rowsPerPage: 3
      },
      items: [],
    }),
    components: {
    },
    methods: {
      onReady: function(instance, CountUp) {
        let that = this;
        let timestamp = new Date(that.options.year, that.options.month, that.options.day,
        that.options.hours, that.options.minutes, that.options.seconds);

        that.interval = 1;

        // setInterval(function () {
        //     timestamp = new Date(timestamp.getTime() + that.interval * 1000);
        //     that.endVal = timestamp.getHours() + ':' + timestamp.getMinutes() + ':' + timestamp.getSeconds();
        // }, Math.abs(that.interval) * 1000);
      },

      loadSocketConfig() {
        http.get("configuration").then(response => {
          this.socket_url = response.data.data.web_host;
          this.socket_port = response.data.data.socket_port;

          this.socket = io(this.socket_url + ':' + this.socket_port);
        }).catch(e => {
          // this.errors.push(e);
        });

      },
      
      listenForSpeechEvents () {
        this.greetingSpeech.onstart = () => {
          this.isLoading = true
        }

        this.greetingSpeech.onend = () => {
          this.isLoading = false
        }
      },

      updateStatus(table_name){
        this.greet(table_name);
      },
      
      /**
       * Shout at the user
       */
      greet (text) {
        // it should be 'craic', but it doesn't sound right
        this.greetingSpeech.text = `Customer number ` + text + ', your order is ready.'

        this.greetingSpeech.voice = this.voiceList[1]
        
        this.synth.speak(this.greetingSpeech)
      },

      fetchTransactions() {
        let uri = '/transactions/claim?status=1';
        
        http.get(uri).then(response => {
          this.objects = response.data.data;
          console.clear();
        }).catch(e => {
          // this.errors.push(e);
        });
      } 
    },
    created: function() {
      this.onReady();
    },
    mounted () {
      this.loadSocketConfig();

      this.fetchTransactions();
      // wait for voices to load
      // I can't get FF to work without calling this first
      // Chrome works on the onvoiceschanged function
      this.voiceList = this.synth.getVoices()
      // console.log(this.voiceList)

      if (this.voiceList.length) {
        this.isLoading = false
      }

      this.socket.on('claimed_trans', (data) => {
        console.log('claiming_customer_claimed_trans');
        this.fetchTransactions();
      });

      this.socket.on('transaction_claimed', (data) => {
        console.log('claiming_customer_transaction_claimed');
        this.fetchTransactions();
      });

      this.socket.on('broad', (data) => {
        this.fetchTransactions();
      });

      this.synth.onvoiceschanged = () => {
        this.voiceList = this.synth.getVoices()
        // give a bit of delay to show loading screen
        // just for the sake of it, I suppose. Not the best reason
        setTimeout(() => {
          this.isLoading = false
        }, 800)
      }
      
      this.listenForSpeechEvents();
    },
  }
</script>

<style scoped>
  .iCountUp {
    font-size: 1.4em;
    margin: 0;
  }
</style>
