<template>
  <v-container fluid grid-list-md pt-0>
    <!-- this.items.length -->
    <!-- <v-alert :value="true" type="warning" v-if="items.length == 0"> Your Item list is empty, please import your items from your POS database to this system before tracking your any transactions.</v-alert> -->

    <!--
    <v-alert type="warning" :value="alertTransNotReadyToDispatch" @click="alertTransNotReadyToDispatch = false">
      This transaction is not yet ready to dispatch. Please check the remaining items in this transaction in other areas. (Click this alert to close this alert.)
    </v-alert>
  -->
    <!--
      <a class="v-list__tile v-list__tile--link v-list__tile--avatar theme--light"><div class="v-list__tile__avatar"><div class="v-avatar" style="height: 40px; width: 40px;"><i aria-hidden="true" class="v-icon material-icons theme--light grey lighten-1 white--text">folder</i></div></div><div class="v-list__tile__content"><div class="v-list__tile__title">Photos</div><div class="v-list__tile__sub-title">Jan 9, 2014</div></div>s

      <div class="v-list__tile__action"><button type="button" class="v-btn v-btn--icon theme--light"><div class="v-btn__content"><i aria-hidden="true" class="v-icon material-icons theme--light grey--text text--lighten-1">info</i></div></button></div><div class="v-list__tile__action"><button type="button" class="v-btn v-btn--icon theme--light"><div class="v-btn__content"><i aria-hidden="true" class="v-icon material-icons theme--light grey--text text--lighten-1">info</i></div></button></div></a>
    -->
    
    <v-data-iterator
      :items="objects"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      content-tag="v-layout" row wrap v-if="uriSelectedArea != null"
    >
      <v-flex slot="item" slot-scope="props" xs6 sm6 md6 lg4 mb-5 v-if="checkIfItemsAreSameArea(props.item._id, props.item.items) && props.item.status == 0">
        <v-card class="transaction-card" v-if="checkIfItemsAreSameArea(props.item._id, props.item.items) && props.item.status == 0">

        <!-- IF priority_level is 0 color is primary & not overtime -->
        <v-toolbar color="primary" dark v-if="Number(props.item.priority_level) == 0 && loadTransactionTimer(props.item.created_at, endVal, props.item.items)[1] == false" v-transaction-timer="props.item.created_at">
          <span class="iCountUp">{{ (props.item.table_name != '' || props.item.table_name != 'null' || props.item.table_name != null) ? '#' + props.item.table_name : '#' + parseInt(props.item.trans_id) }}</span>
          <v-spacer></v-spacer>
          <v-toolbar-title>{{ props.item.service_type }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <div class="iCountUp">{{ loadTransactionTimer(props.item.created_at, endVal, props.item.items)[0] }}</div>
        </v-toolbar>

        <!-- IF priority_level is 0 color is primary & overtime -->
        <v-toolbar color="danger" dark v-else-if="Number(props.item.priority_level) == 0 && loadTransactionTimer(props.item.created_at, endVal, props.item.items)[1] == true" v-transaction-timer="props.item.created_at">
          <span class="iCountUp">{{ (props.item.table_name != '' || props.item.table_name != null) ? '#' + props.item.table_name : '#' + parseInt(props.item.trans_id) }}</span>
          <v-spacer></v-spacer>
          <v-toolbar-title>{{ props.item.service_type }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <div class="iCountUp">{{ loadTransactionTimer(props.item.created_at, endVal, props.item.items)[0] }}</div>
        </v-toolbar>
        <!-- END -->

        <!-- IF priority_level is 1 or greater color is orange & not overtime -->
        <v-toolbar color="orange" dark v-else-if="Number(props.item.priority_level) >= 1 && loadTransactionTimer(props.item.created_at, endVal, props.item.items)[1] == false" v-transaction-timer="props.item.created_at">
          <span class="iCountUp">{{ (props.item.table_name != '' || props.item.table_name != null) ? '#' + props.item.table_name : '#' + parseInt(props.item.trans_id) }}</span>
          <v-spacer></v-spacer>
          <v-toolbar-title>
            {{ props.item.service_type }}
            <small class="caption" v-if='props.item.discount_code.toLowerCase() == "pwd" || props.item.discount_code.toLowerCase() == "sc"' v-html='"(" + props.item.discount_code.toUpperCase() + ")"'></small>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <div class="iCountUp">{{ loadTransactionTimer(props.item.created_at, endVal, props.item.items)[0] }}</div>
        </v-toolbar>

        <!-- IF priority_level is 1 or greater color is orange & overtime -->
        <v-toolbar color="danger" dark v-else-if="Number(props.item.priority_level) >= 1 && loadTransactionTimer(props.item.created_at, endVal, props.item.items)[1] == true" v-transaction-timer="props.item.created_at">
          <span class="iCountUp">{{ (props.item.table_name != '' || props.item.table_name != null) ? '#' + props.item.table_name : '#' + parseInt(props.item.trans_id) }}</span>
          <v-spacer></v-spacer>
          <v-toolbar-title>
            {{ props.item.service_type }}
            <small class="caption" v-if='props.item.discount_code.toLowerCase() == "pwd" || props.item.discount_code.toLowerCase() == "sc"' v-html='"(" + props.item.discount_code.toUpperCase() + ")"'></small>
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <div class="iCountUp">{{ loadTransactionTimer(props.item.created_at, endVal, props.item.items)[0] }}</div>
        </v-toolbar>
        <!-- End -->
          <v-list>
            <!--
            <v-list-tile>
              <v-list-tile-content class="title">
                <v-list-tile-sub-title class="font-weight-bold" v-html="'#: ' + props.item.table_name + ' / Customer Name: ' + props.item.customer_name" ></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            -->
            <div>
              <div v-for="obj in props.item.items" :key="obj.id" v-if="checkItemIfOut(obj, obj.current_step) == false">
                <v-list-tile class="v-list-tile-padding-4-16">
                  <v-list-tile-action>
                    <v-badge>
                      <span slot="badge">{{ obj.qty }}</span>
                      <!-- <v-checkbox @change="startItemTimeProcessing($event, obj)" :disabled="(checkItemIfOut(obj, obj.current_step) == true || checkItemIfInCurrentArea(obj, obj.current_step) || (obj.running_status == 1 || obj.status == 1))" ></v-checkbox> -->
                      <v-checkbox @change="startItemTimeProcessing($event, obj)" :disabled="!checkItemIfInCurrentArea(obj, obj.current_step) || obj.running_status == 1 || obj.status == 1" v-model="obj.running_status" ></v-checkbox>
                    </v-badge>
                  </v-list-tile-action>
                  <v-list-tile-content>
                    <v-list-tile-title class="headline" v-bind:class="{ 'is-selected': ( obj.status == 1 ) }">{{ obj.name }}</v-list-tile-title>
                    <label class="caption grey--text" v-html="renderRunningTimeOfItem(obj)"></label>
                    <v-list-tile-sub-title class="sub-title-note" v-html="obj.note"></v-list-tile-sub-title>
                  </v-list-tile-content>

                  <v-list-tile-action>
                    <div class="text-xs-center min-width-60">
                      <v-btn round small color="grey lighten-4" class="min-width-50" @click="checkTransactionItem($event, obj)" :disabled="obj.running_status == 0 || !checkItemIfInCurrentArea(obj, obj.current_step)" v-if="obj.status == 0">Done</v-btn>
                    </div>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider></v-divider>
              </div>
            </div>
            <v-divider></v-divider>
          </v-list>
          <v-card-actions>
            <v-btn icon color="pink" @click="greet(props.item)">
              <v-icon color="white">phone</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <!-- :disabled='!readyToOut(props.item._id, props.item.items)' -->
            <v-btn color="primary" @click="sendMessage($event, props.item)" v-if="props.item.status == 0" >OUT</v-btn>
            <v-btn v-if="props.item.status == 1" disabled>Transaction Dispatched</v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-data-iterator>
    <v-fab-transition>
      <v-btn
        @click="clearAllClaims()"
        color="error"
        dark
        fab
        fixed
        bottom
        left
      >
        <v-icon>delete</v-icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-fab-transition>

  </v-container>
</template>

<style>
.is-selected {
  text-decoration: line-through;
}
.headline {
  height: 34px;
}

/* Customized CSS - home.vue */
.transaction-card .v-list__tile {
  display: flex;
  height: auto !important;
}
.transaction-card .v-list__tile__title, .v-list__tile__sub-title {
  white-space: pre-line !important;
  overflow: unset !important;
  height: auto !important;
}
.v-list-tile-padding-4-16 { padding: 4px 16px; }
.sub-title-note { word-wrap: break-word; }
.min-width-190 { min-width: 190px; }
.min-width-100 { min-width: 100px; }
.min-width-60 { min-width: 60px; }
.min-width-50 { min-width: 50px; }

</style>

<script>
import { http } from "../config/http.js"
import { configuration } from "../config/configuration.js"
import { TransactionTimer } from "../directives/transaction_timer.js"
import io from 'socket.io-client'

export default {
    data: () => ({
      socket : io(configuration.socketURL),
      socket_url: '',
      socket_port: '',
      errors: [],

      user: '',
      message: '',
      messages: [],
      isLoading: true,
      name: '',
      kds_area: [],
      pos_items: [],
      selectedVoice: 0,
      transactionProcessing: false,

      alertTransNotReadyToDispatch: false,

      synth: window.speechSynthesis,
      objects: [],
      transaction_item_header: [
        { text: 'Name', value: 'name' },
        { text: 'Quantity', value: 'Qty' },
        { text: 'Status', value: 'status' }
      ],
      voiceList: [],
      greetingSpeech: new window.SpeechSynthesisUtterance(),
      rowsPerPageItems: [3, 6, 9, 12, 15, 18],
      interval: 1,
      endVal: 0,
      options: {
        year: 0,
        month: 0,
        day: 0,
        hours: 0,
        minutes: 0,
        seconds: 0
      },
      pagination: {
        rowsPerPage: 9
      },
      items: [],

      uriSelectedArea: '',

      transaction_details_timer: []
    }),
    directives: {
      TransactionTimer
    },
    components: {
    },
    methods: {
      onReady: function(instance, CountUp) {
        let that = this;
        let timestamp = new Date(that.options.year, that.options.month, that.options.day, that.options.hours, that.options.minutes, that.options.seconds);
        // let timestamp = new Date();
        
        that.interval = 1;

        setInterval(function () {
          timestamp = new Date(timestamp.getTime() + that.interval * 1000);
          that.endVal = timestamp.getHours() + ':' + timestamp.getMinutes() + ':' + timestamp.getSeconds() + '';
        }, Math.abs(that.interval) * 1000);
      },

      loadSocketConfig() {
        http.get("configuration").then(response => {
          this.socket_url = response.data.data.web_host;
          this.socket_port = response.data.data.socket_port;

          this.socket = io(this.socket_url + ':' + this.socket_port);
        }).catch(e => {
          this.errors.push(e);
        });
      },
      getSelectedArea(){
        let area = this.$route.query.area;

        if(area != null || area != undefined){
          http.get("areas/" + area).then(response => {
            this.kds_area = response.data.data;
          }).catch(e => {
            this.errors.push(e);
          });
        }
      },
      getPOSitems(){
        http.get("items").then(response => {
          this.pos_items = response.data.data;
        }).catch(e => {
          this.errors.push(e);
        });
      },
      listenForSpeechEvents () {
        this.greetingSpeech.onstart = () => {
          this.isLoading = true
        }

        this.greetingSpeech.onend = () => {
          this.isLoading = false
        }
      },

      sendMessage(e, trans_data) { // OUT click Function
        e.preventDefault();
        this.transactionProcessing = true;
            
        let ready_trans_out = 0;
        let trans_record = trans_data;
        let trans_id = trans_record._id;
        let selectedArea = (this.$route.query.area !== undefined) ? this.$route.query.area : '';

        /* console.log('trans ID', trans_record);*/
        /* trans_record.status = 1; */
        Object(trans_record.items).forEach((transaction_detail, trans_dtls_index) => {
          let tr_dt_current_step = transaction_detail.current_step

          // console.log('transaction_detail.item_info[0].process.steps[tr_dt_current_step - 1]', transaction_detail.item_info[0].process.steps);
          // console.log(tr_dt_current_step);

          let item_info_process_steps = transaction_detail.item_info[0].process.steps;
          
          if(item_info_process_steps.length == 1){
            if(transaction_detail.item_info[0].process.steps[0].area_id == selectedArea){
              if(transaction_detail.item_info[0].process.steps[tr_dt_current_step - 1] !== undefined){
                this.checkTransactionItem(true, transaction_detail)
              }
            }
          } else {
            if(transaction_detail.item_info[0].process.steps[tr_dt_current_step - 1].area_id == selectedArea){
              if(transaction_detail.item_info[0].process.steps[tr_dt_current_step - 1] !== undefined){
                this.checkTransactionItem(true, transaction_detail)
              }
            }
          }

          if(transaction_detail.status > 0){
            ready_trans_out++;
          }
        });

        if(ready_trans_out == trans_record.items.length || ready_trans_out == 0){
          /* proceed to next step */
          http.put("transactions/" + trans_id,  trans_record ).then(response => {
            /* console.log('res', response); */
            this.transactionProcessing = false;
            
            this.fetchTransactions();
          }).catch(e => {
            this.errors.push(e);
          });
          
          this.socket.emit('communicate', {
              user: this.user,
              message: this.message
          });

          this.$emit('alert', true, 'Transaction is moved to claiming Queue!', 'Moving to Claiming section');
        } else {
          this.alertTransNotReadyToDispatch = true;

          this.transactionProcessing = false;

          // this.$emit('alert', false, 'Please Check first the remaining items in all areas in this transaction.', 'Moving to Claiming Queue');
        }
        

        this.message = '';
      },

      checkTransactionItem(checked, data){
        let trans_item_status = checked;
        let trans_item_data = { current_area: "" };
        trans_item_data = data;
        let current_step = trans_item_data.current_step;
        let old_item_step = current_step;
        let item_id = trans_item_data.id;
        let item_process = [];
        let item_details = {};
        let uri_item_query = [];
        let item_current_area = {};
        let current_datetime = new Date();
        let trans_details_timer_query = {};
        let trans_details_timer_update = {};
        let trans_details_timer_store = {}; // for the item that's moved to a new area
        let selectedArea = (this.$route.query.area !== undefined) ? this.$route.query.area : '';
        let area_name = "";

        let item_current_step = (current_step === undefined) ? 1 : current_step;
        let item_info = this.pos_items.find(items => { return items.item_id == item_id });
        let item_steps = item_info.process.steps;
        
        let uri_td_timer = '?';

        // Get Item's Process
        if(item_id !== undefined || item_id !== null){
          uri_item_query.push('item_id=' +  item_id);
        }

        if(trans_item_status){
          current_step = current_step + 1;
        } else {
          current_step = current_step - 1;
        }

        if(current_step > item_steps.length){
          current_step = current_step - 1;
          trans_item_data.status = 1;
        }

        trans_item_data.current_step = current_step;

        http.get("/items?" + uri_item_query.join('&')).then(response => {
          item_details = response.data.data[0];

          if(item_details.process !== undefined){
            item_steps = item_details.process.steps;
            if(item_steps.length > 0){
              if(item_steps[current_step] !== undefined){
                area_name = item_steps[current_step].area_name;
                item_current_area = item_steps[current_step].area_id;
                trans_item_data.current_area = area_name;
              }
            }
          }
        });

        // console.log('trans_item_data', trans_item_data);
        // console.log('old_item_step', [trans_item_data._id, trans_item_data.id, old_item_step]);

        trans_details_timer_query = { trans_id: trans_item_data.trans_id, item_id: Number(trans_item_data.id), step_no: old_item_step };

        Object.keys(trans_details_timer_query).forEach((td_timer_query) => {
          uri_td_timer += td_timer_query + '=' + trans_details_timer_query[td_timer_query] + '&';
        });
        
        trans_details_timer_update = { end_time:current_datetime.toLocaleString() };
        trans_details_timer_store = {
          step_no : current_step,
          end_time: "",
          start_time: current_datetime.toLocaleString(),
          qty: trans_item_data.qty,
          item_id: trans_item_data.id,
          trans_id: trans_item_data.trans_id
        };
        
        // console.log('uri_td_timer', uri_td_timer);
        // console.log('trans_details_timer_store', trans_details_timer_store);
        // console.log('trans_details_timer_update', trans_details_timer_update);
        // console.log(this.transaction_details_timer);

        let td_timer_id = '';

        Object(this.transaction_details_timer).forEach( (trans_details_timer, aa) => {
          if(this.hasRunningTimeProcessing(trans_details_timer_query.trans_id, trans_details_timer_query.item_id, trans_details_timer_query.step_no) == true){
            td_timer_id = trans_details_timer._id;
          }
        });

        if(current_step != old_item_step){
          // http.post("/transaction_details_timer/", trans_details_timer_store).then(response => {
          //   console.log('transaction_timer_updated');
          // });
        }

        http.put("/transaction_details/" + trans_item_data._id, trans_item_data).then(response => {
          this.socket.emit('communicate', trans_item_data);
        });

        // http.put("/transaction_details_timer/" + td_timer_id, trans_details_timer_update).then(response => {
        //   console.log('transaction_timer_updated');
        // });

        /*
        Object(trans_details_timer_query).forEach((td_timer_query) => {
        });

        {
          "running_status":0,
          "end_time":current_datetime.toLocaleString(),
          "item_id":"1538",

          "trans_id":"0000000000128",
          "trans_details_id":"5c09fb1b5e8fdc20d1efb1df",
          "current_step":old_step
        }
        */
      },

      hasRunningTimeProcessing(trans_id, item_id, current_step){
        let func_return = false;

        Object(this.transaction_details_timer).forEach( (trans_details_timer) => {
          if(trans_details_timer.trans_id == trans_id && Number(trans_details_timer.item_id) == Number(item_id) && trans_details_timer.step_no == current_step){
            func_return = true;
          }
        });

        return func_return;
      },

      renderRunningTimeOfItem(data_obj, start_time = null){
        let time_str = this.endVal;

        let uri = '';
        let days = 0;
        let mins = 0;
        let secs = 0;
        let hours = 0;
        let difference = 0;
        let response = null;
        let running_time = '00:00:00';

        let item_start_time = new Date();
        let current_datetime = new Date();
        let fetched_transaction_details_timer = { };
        let uri_obj = { trans_id: '', current_step: '', trans_details_id: '' };

        if(data_obj != undefined ){
          if(data_obj.status == 0 ){
            uri_obj.trans_id = data_obj.trans_id;
            uri_obj.id = data_obj.id;
            uri_obj.current_step = data_obj.current_step;

            Object(this.transaction_details_timer).forEach( (trans_details_timer, aa) => {
              /*
              if(true){
                // For Testing Development purposes
                this.hasRunningTimeProcessing(uri_obj.trans_id, uri_obj.trans_details_id, uri_obj.current_step)
                trans_details_timer.trans_id == uri_obj.trans_id && trans_details_timer.trans_details_id == uri_obj.trans_details_id && trans_details_timer.current_step == uri_obj.current_step
              }
              */

              if( trans_details_timer.trans_id == uri_obj.trans_id && trans_details_timer.item_id == uri_obj.id && trans_details_timer.step_no == uri_obj.current_step ){
                fetched_transaction_details_timer = trans_details_timer;
              }
            });

            item_start_time = new Date(fetched_transaction_details_timer.start_time );
            difference = (current_datetime - item_start_time);

            days = Math.floor(difference / (60*60*1000*24)*1);
            hours = Math.floor((difference % (60*60*1000*24))/(60*60*1000)*1);
            mins = Math.floor(((difference % (60*60*1000*24))%(60*60*1000))/(60*1000)*1);
            secs = Math.floor((((difference % (60*60*1000*24))%(60*60*1000))%(60*1000))/1000*1);

            hours = (isNaN(hours)) ? 0 : hours;
            mins = (isNaN(mins)) ? 0 : mins;
            secs = (isNaN(secs)) ? 0 : secs;

            hours = (hours > 9) ? hours : '0' + hours ;
            mins = (mins > 9) ? mins : '0' + mins ;
            secs = (secs > 9) ? secs : '0' + secs ;

            running_time = hours + ':' + mins + ':' + secs;
          }
        }

        return running_time;
      },

      startItemTimeProcessing(event, obj){
        let trans_item_data = obj;
        let current_datetime = new Date();
        let datetime_created_at = current_datetime.toLocaleString();

        let update_trans_details_data = {
          'running_status' : 1,
          'updatedAt': datetime_created_at,
          'item_info': []
        };

        // let store_trans_details_audit = {
        //   area: this.kds_area.name,
        //   created_at: datetime_created_at,
        //   item_id: trans_item_data.id,
        //   item_name: trans_item_data.name,
        //   start_time: datetime_created_at,
        //   status: 0,
        //   step_no: 1,
        //   trans_details_id: trans_item_data._id,
        //   trans_id: trans_item_data.trans_id,
        //   qty: trans_item_data.qty
        // };

        let store_trans_details_timer = {
          trans_id: trans_item_data.trans_id,
          item_id: trans_item_data.id,
          step_no: 1,
          area_id: this.kds_area._id,
          area_name: this.kds_area.name,
          start_time: datetime_created_at,
          end_time: "",
          qty: trans_item_data.qty
        };
        
        http.put("/transaction_details/" + trans_item_data._id, update_trans_details_data).then(response => {
          this.socket.emit('communicate', trans_item_data);
        });

        console.log('store_trans_details_timer', store_trans_details_timer);
        
        // http.post('/transaction_details_timer', store_trans_details_timer).then(response => {
          // console.log('starttime');
          // this.fetchTransactions();
          // this.getTransactionDetailsTimer();
        // });
        
      },

      getTransactionDetailsTimer(){
        // http.get("/transaction_details_timer/", { cache: true }).then(response => {
        //   this.transaction_details_timer = response.data.data;
        //   console.log('getTransactionDetailsTimer', this.transaction_details_timer);
        // })
      },

      checkIfItemsAreSameArea(trans_id, props_items){
        let stayed = 0;
        let passed = 0;
        let selected_area = '';

        if(this.$route.query.area != undefined){
          selected_area = this.$route.query.area;
        } else {
          // console.clear();
        }

        if(props_items != undefined){
          Object.keys(props_items).forEach(item_key => {
            let item_steps = props_items[item_key];
            let item_steps_last_index = item_steps.length - 1;
            item_steps_last_index = (item_steps_last_index < 0) ? 0 : item_steps_last_index;

            if(item_steps.item_info == undefined){
              this.fetchTransactions();
            } else {
              if(item_steps.item_info.length > 0){
                if(typeof item_steps.item_info[0].process != undefined){
                  item_steps = item_steps.item_info[0].process.steps;

                  /* Process Step's & Item Step's */
                  let selected_area_from_item_detail = item_steps.find(steps => { return steps.area_id == selected_area });

                  if(selected_area_from_item_detail != undefined){

                    if((props_items[item_key].current_step == selected_area_from_item_detail.step_no && selected_area_from_item_detail.area_id == selected_area )){
                      stayed++;
                    }
                    // if(this.kds_area.controller == 1 && props_items[item_key].current_step == item_steps[item_steps_last_index].step_no){
                    //   stayed++;
                    // } else {
                    //   if((props_items[item_key].current_step == selected_area_from_item_detail.step_no && selected_area_from_item_detail.area_id == selected_area ) || props_items[item_key].controller == 1){
                    //     stayed++;
                    //   }
                    // }
                  }
                }
              }
            }
          })
        }
        // console.log('stayed', stayed);

        return (stayed > 0) ? true : false;
      },

      readyToOut(trans_id, props_items){
        // console.log('ready to out', this.uriSelectedArea);
        let ready_item_out = 0;
        let pos_items = this.pos_items;

        Object.keys(props_items).forEach(function(props_item_key){
          let item_current_step = (props_items[props_item_key].current_step === undefined) ? 1 : props_items[props_item_key].current_step;
          let item_info = pos_items.find(items => { return items.item_id == props_items[props_item_key].id });
          let current_step = ( props_items[props_item_key].current_step !== undefined ) ? props_items[props_item_key].current_step : 1;
          let item_steps = item_info.process.steps;
          let steps = item_info.process.steps;
          let last_step_index = steps.length - 1;
          last_step_index = (last_step_index < 0) ? 0 : last_step_index;
          let last_step = steps[last_step_index];

          if(last_step.step_no == current_step && props_items[props_item_key].status == 1){
            ready_item_out++;
          }
        });

        if(ready_item_out == props_items.length){
          return true;
        } else {
          return false;
        }
      },

      checkItemIfInCurrentArea(item, current_step = 1){
        let item_info = this.pos_items.find(items => { return items.item_id == item.id });
        let item_current_step = (current_step) ? current_step : 1;
        let item_steps = item_info.process.steps;
        let item_last_step = item_steps.length - 1;
        item_last_step = (item_last_step < 0) ? 0 : item_last_step;
        let current_area = this.kds_area;
        let return_value = false;
        let item_step_of_selected_area = item_steps.find( item_steps => {
          return item_steps.area_id == this.uriSelectedArea
        });
        let item_step_of_selected_step = item_steps.find( item_steps => {
          return item_steps.step_no == item_current_step
        });

        if(current_area.controller == 1){
          /*
          console.log('item', item);
          console.log('check last step', [item_steps, item_current_step]);
          console.log('item_steps[item_steps.length - 1].step_no == item_current_step', item_steps[item_steps.length - 1].step_no, item_current_step);
          */

          if(item_steps[item_last_step].step_no == item_current_step){
            return_value = true;
          } else {
            return_value = false;
          }
        } else {
          if(item_step_of_selected_area.step_no == current_step){
            return_value = true;
          }
        }

        return return_value;
      },

      checkItemIfOut(item, current_step = 1){
        let item_current_step = (current_step) ? current_step : 1;
        let item_info = this.pos_items.find(items => { return items.item_id == item.id });
        let item_step_of_selected_area = '';
        let item_step_base_current_area = '';
        let item_steps = [];
        let item_current_step_index = 0;
        let current_area_data = [];
        let item_steps_with_controller = [];
        let item_step_with_controller_on_current_controller = true;
        let item_steps_last_index = 0;

        try {
          item_info.process;
          item_steps = item_info.process.steps;
          item_steps_last_index = item_steps.length - 1;
          item_steps_last_index = (item_steps_last_index < 0) ? 0 : item_steps_last_index;
        } catch(e){
          // console.clear();
        }

        // console.clear();
        
        if(this.uriSelectedArea != null || this.uriSelectedArea != ''){
          current_area_data = this.kds_area;
          item_current_step_index = item_current_step - 1;
          item_step_of_selected_area = item_steps.find( item_steps => {
            return item_steps.area_id == this.uriSelectedArea
          }); /* Note to self: Use == for comparing, NOT = because it will overwrite the value of return */
          
          if(item_current_step_index < 1){
            item_current_step_index = 1;
          }

          if(item_current_step == 1){
            item_current_step_index = item_current_step_index - 1;
          }

          if(item_steps.length > 0){
            if(this.kds_area.controller == 1){
              // If selected Area controller value is 1, this will display all the items if their current step is in the last step.
              if(item_steps[item_steps_last_index].step_no == item_current_step){
                // item_steps[item_steps_last_index].step_no - Last Step
                return false;
              }
            } else {
              if(item_steps[item_current_step_index] != undefined){
                if(item_steps[item_current_step_index].area_id == this.uriSelectedArea && parseInt(item_steps[item_current_step_index].step_no) == parseInt(item_current_step)){
                  return false;
                } else {
                  return item_step_with_controller_on_current_controller;
                }
              } else {
                return item_step_with_controller_on_current_controller;
              }
            }

            // Keeping this Old Code
            // if(item_steps[item_current_step_index] != undefined){
            //     /* Development & Debugging Purposes */
            //     /*
            //     console.log('item', item.name);
            //     console.log('current_step', current_area_data.name);
            //     console.log('item_current_step_index', item_steps[item_current_step_index].area_id);
            //     console.log('item_step_of_selected_area',item_steps[item_current_step_index].area_name);
            //     console.log('item_current_step_index', item_steps[item_current_step_index].step_no); // 0, 1
            //     console.log('this.uriSelectedArea', item_current_step);

            //     if(current_area_data.name == item_steps[item_current_step_index].area_name || ){
            //       return false;
            //     } else {
            //       return true;
            //     }
            //     */
            //     // if(item_steps[item_current_step_index].area_id == this.uriSelectedArea && item_steps[item_current_step_index].step_no == item_current_step){

            //     //console.log(item_steps[item_current_step_index].step_no, item_current_step);

            //     // item_steps_area_id == uriSelectedArea AND step_no == item_current_step
            //     if(item_steps[item_current_step_index].area_id == this.uriSelectedArea && parseInt(item_steps[item_current_step_index].step_no) == parseInt(item_current_step)){

            //       return false;
            //     } else {
            //       return item_step_with_controller_on_current_controller;
            //     }
            //   } else {
            //     /*
            //     if(this.kds_area.controller == 1){
            //       console.log('item_steps[item_steps.length - 1].step_no == item_current_step', [item_steps[item_steps.length - 1].step_no, item_current_step])

            //       if(item_steps[item_steps.length - 1].step_no == item_current_step){
            //         item_step_with_controller_on_current_controller = false;
            //       }
            //     }
            //     */

            //     return item_step_with_controller_on_current_controller;
            //   }
          } else {
            // console.clear();
          }
        }
      },

      checkItemIfCurrentArea(item, current_step){
        let item_info = this.pos_items.find(items => { return items.item_id == item.id });
        let item_current_step = (current_step === undefined) ? 1 : current_step;
        let item_steps = item_info.process.steps;
        // console.log('item_current_step',item_current_step);
        if(item_current_step == 'NaN'){
          item_current_step = 1;
        }

        if(this.uriSelectedArea != null || this.uriSelectedArea != ''){
          if(item_steps[( item_current_step - 1 )].area_id == this.uriSelectedArea){
            return true;
          } else {
            return false;
          }
        }
      },

      checkItemIfAlwaysShow(data){                    
        let item_processes = data;
        let item_has_always_show_tag = false;

        Object.keys(item_processes.steps).forEach(function(item_steps_index){
          if(item_processes.steps[item_steps_index].always_show == true){
            item_has_always_show_tag = true;
          }
        });

        return item_has_always_show_tag;
      },

      /**
       * Shout at the user
       */
      greet (obj_data) {
        // it should be 'craic', but it doesn't sound right
        let table_order = (obj_data.table_name != '' || obj_data.table_name != null) ? 'Table number ' + obj_data.table_name : 'Order Number ' + parseInt(obj_data.trans_id);

        let voice_string = 'Customer ' + obj_data.customer_name + ' with ' + table_order + ' will be ready.';
        this.greetingSpeech.text = voice_string;

        this.greetingSpeech.voice = this.voiceList[1];
        
        this.synth.speak(this.greetingSpeech);
      },

      fetchTransactions(trans_id=null, item_id=null) {
        // console.log('fetched_transactions');
        let uri = "";
        let selectedArea = (this.$route.query.area !== undefined) ? this.$route.query.area : '';
        this.uriSelectedArea = selectedArea;

        if(selectedArea != null || selectedArea != ''){
          uri += "area=" + selectedArea + "&";
        }

        if(this.uriSelectedArea != ''){
          http.get("transactions?" + uri).then(response => {
            let fetched_transactions = response.data.data;
            let rendered_transactions = [];

            /* This will prevent "Bunge" transaction list. */
            Object.keys(fetched_transactions).forEach((transaction_index) => {
              if(this.checkIfItemsAreSameArea(fetched_transactions[transaction_index]._id, fetched_transactions[transaction_index].items) == true){
                rendered_transactions.push(fetched_transactions[transaction_index]);
              }
            })

            this.objects = [];
            this.objects = rendered_transactions;
            // console.log('objs', this.objects);
          }).catch(e => {
            this.errors.push(e);
            // console.log('errors', this.errors);
          });
        }
      },

      loadTransactionTimer(time_start, end_val, items_data, item_qty = '1'){
        // followup function for timer
        let datetime_start = time_start;
        let system_time = 0;
        // let half_hour_addition = 30; // mins
        let second = 0;
        let return_time = '';
        let return_expected_time = '';
        let total_preparation_time = 20; // in mins
        let total_preparation_time_raw = 0; // in mins

        let remaining_hours = 0;
        let remaining_minutes = 0;
        let remaining_seconds = 0;

        let current_datetime_timeformat = 0;
        let expected_datetime_timeformat = 0;
        let difference_transaction_time = 0;

        let return_true_values = ['', false]; // 0 = time, 1 = overtime(boolean)

        if(items_data.length > 0){
          Object.keys(items_data).forEach((item_info) => {
            if(items_data[item_info].item_info[0] !== undefined){
              let reparation_time_mins_per_item = Number(total_preparation_time_raw) + (Number(item_qty) * Number(items_data[item_info].item_info[0].preparation_time_mins));

              total_preparation_time_raw = reparation_time_mins_per_item;
            }
          })
          if(total_preparation_time_raw > 0){
            total_preparation_time = total_preparation_time_raw ;
          }
        }

        let current_datetime = new Date();
        let created_at_datetime = new Date(datetime_start);
        let expected_time = new Date(datetime_start);

        expected_time.setMinutes(expected_time.getMinutes() + total_preparation_time );
        let difference = (current_datetime - created_at_datetime);

        let days = Math.floor(difference / (60*60*1000*24)*1);
        let hours = Math.floor((difference % (60*60*1000*24))/(60*60*1000)*1);
        let mins = Math.floor(((difference % (60*60*1000*24))%(60*60*1000))/(60*1000)*1);
        let secs = Math.floor((((difference % (60*60*1000*24))%(60*60*1000))%(60*1000))/1000*1);

        hours = (hours > 9) ? hours : '0' + hours ;
        mins = (mins > 9) ? mins : '0' + mins ;
        secs = (secs > 9) ? secs : '0' + secs ;

        return_time = hours + ':' + mins + ':' + secs;
        return_true_values[0] = return_time;

        if(current_datetime > expected_time){
          return_true_values[1] = true;
        }

        return return_true_values;
      },

      clearAllClaims(){
        let uri_data = {
          from_module: 'home'
        };

        this.objects = [];

        http.post('transactions/clear', uri_data ).then(response => {
          // console.log('status updated', response);
          // this.fetchTransactions();
        }).catch(e => {
          this.errors.push(e);
        });

      },

      fetchSingleTransaction(trans_id, trans_item_id = null){
        // this.fetchTransactions();
        let transactions_id = '';
        if( trans_id != 'null' || trans_id != null || trans_id != 'undefined' || trans_id != undefined){
          transactions_id = trans_id;
        } else {
          transactions_id = '';
        }

        http.get("transactions?trans_id=" + transactions_id).then(response => {
          let rendered_transactions = [];
          let fetched_transactions = response.data.data;

          Object.keys(fetched_transactions).forEach((transaction_index) => {
            if(this.checkIfItemsAreSameArea(fetched_transactions[transaction_index]._id, fetched_transactions[transaction_index].items) == true){
              rendered_transactions.push(fetched_transactions[transaction_index]);
            }
          });

          let final_transactions = rendered_transactions;
          let transactions = this.objects;

          if(rendered_transactions.length > 0){
            if(fetched_transactions.priority_level > 0){
              transactions.unshift(fetched_transactions);
            } else {
              transactions.push(fetched_transactions);
            }

            this.objects = final_transactions;
          }

          /*
          var a = [23, 45, 12, 67];
          a.unshift(34);
          console.log(a);
          */

          // this.objects = [];
          // this.objects = rendered_transactions;
          // console.log('transactions', this.objects);
        }).catch(e => {
          this.errors.push(e);
        });

      }
    },
    created: function() {
      this.onReady();
      // this.loadSocketConfig();
    },
    mounted () {
      // fetch all areas
      this.getSelectedArea();

      // fetch all items
      this.getPOSitems();

      // fetch all transactions
      this.fetchTransactions();

      // fetch all items with running timer
      this.getTransactionDetailsTimer();

      // fetch single item per transaction
      this.socket.on('bumping', (data) => {
            // fetch item per transaction
            console.log('bumping', data);
            // this.fetchSingleTransaction(data.trans_id, data.item_id);
            console.log('bumping_trans_', data);

            if(data.trans_id){
              console.log('bumping_trans_id', data);
              this.fetchTransactions();
            }
        });

      // fetch all item for single transaction
      this.socket.on('broad', (data) => {
        let text_to_speech = 'For ' + data.service_type + '. ';

        this.objects.push(data);

        // Voice /
        Object(data.items).forEach((item_details, item_trans_index) => {
          text_to_speech += ' ' + item_details.qty + ' ' + item_details.name + ', ';
        });

        this.greetingSpeech.text = text_to_speech;
        this.greetingSpeech.voice = this.voiceList[1];
        this.synth.speak(this.greetingSpeech);
        // / Voice
        
        // this.getTransactionDetailsTimer();
        // you can also do this.messages.push(data)
      });
      
      // wait for voices to load
      // I can't get FF to work without calling this first
      // Chrome works on the onvoiceschanged function
      this.voiceList = this.synth.getVoices()
      // console.log(this.voiceList)

      if (this.voiceList.length) {
        this.isLoading = false
      }

      this.synth.onvoiceschanged = () => {
        this.voiceList = this.synth.getVoices()
        // give a bit of delay to show loading screen
        // just for the sake of it, I suppose. Not the best reason
        setTimeout(() => {
          this.isLoading = false
        }, 800)
      }

      this.listenForSpeechEvents()
    },
  }
</script>

<style scoped>
  .iCountUp {
    font-size: 1.4em;
    margin: 0;
  }
  
</style>

