<template>
  <v-container fluid grid-list-lg>
    <v-layout row wrap>
      <v-flex xs12 sm12 md12>
        <v-card>
          <v-card-title>
            Import Items
          </v-card-title>
          <v-card-text style="position: relative">
            <v-alert :value="showSuccessMessage" type="success">
              This is a success alert.
            </v-alert>
            <template>
              <v-stepper v-model="e1">
                <v-stepper-header>
                  <v-stepper-step :complete="e1 > 1" step="1">Step 1: Import Items</v-stepper-step>
                  <v-divider></v-divider>
                  <v-stepper-step :complete="e1 > 2" step="2">Step 2: Tag Items</v-stepper-step>
                  <v-divider></v-divider>
                  <v-stepper-step step="3">Step 3: Review Tags</v-stepper-step>
                </v-stepper-header>
                <v-stepper-items>

                  <!-- STEP 1 -->
                  <v-stepper-content step="1">
                    <v-card class="mb-5" color="" >
                      <!-- TAB selection of import data & mysql -->
                      <v-tabs color="blue" dark slider-color="yellow" >
                        <v-tab ripple>
                          Import CSV File
                        </v-tab>
                        <v-tab ripple>
                          Import From Database
                        </v-tab>
                      <v-tab-item>
                        <v-card flat>
                          <v-card-text>
                            <v-alert :value="import_csv_error" color="error" icon="error" @click="dismissImportErrorAlert()">
                              {{ import_csv_message }}
                            </v-alert>
                            <v-alert :value="import_csv_success" color="success" icon="check_circle" >
                              {{ import_csv_message }}
                            </v-alert>
                            
                            
                            <v-alert :value="loaderFileCurrentlyUploading" type="warning">
                              File is now uploading...
                            </v-alert>
                            
                            
                            <p class="text-md-left">Import the selected Items. CSV File Format ONLY. (Content Format: Item Name, Item ID)</p>
                            <input type="file" name="items" @change="uploadCSVitems($event)"/>
                          </v-card-text>
                        </v-card>
                      </v-tab-item>
                      <v-tab-item>
                        <v-card>
                          <v-card-text>
                            <v-form ref="form" lazy-validation >
                              <v-alert v-model="alertMySqlImportSuccess" dismissible type="success" >
                                You have successfully connected to the database & import the items.
                              </v-alert>
                              <v-alert v-model="alertMySqlImportFail" dismissible type="error" >
                                Oops! Please check if the credentials you entered is correct.
                              </v-alert>

                              <v-layout row>
                                <v-flex xs6>
                                  <v-text-field v-model="connectMySQLdb.host" :counter="25" label="*Host" placeholder="127.0.0.1" required @change="stepOneConnectChange()" :rules="commonRules"></v-text-field>
                                </v-flex>
                                <v-flex xs6>
                                  <v-text-field v-model="connectMySQLdb.database_name" :counter="25" label="*Database Name" placeholder="Enter Database Name" :rules="commonRules" required @change="stepOneConnectChange()"></v-text-field>
                                </v-flex>
                              </v-layout>

                              <v-layout row>
                                <v-flex xs6>
                                  <v-text-field v-model="connectMySQLdb.username" :counter="25" label="*Username" placeholder="root" required @change="stepOneConnectChange()" :rules="commonRules"></v-text-field>
                                </v-flex>
                                <v-flex xs6>
                                  <v-text-field v-model="connectMySQLdb.password" :counter="25" label="*Password" placeholder="Password" required :type="showPassword ? 'text' : 'password' " :append-icon="showPassword ? 'visibility_off' : 'visibility'" @change="stepOneConnectChange()"></v-text-field>
                                </v-flex>
                              </v-layout>

                              <v-layout row>
                                <v-flex xs6>
                                  <v-text-field v-model="connectMySQLdb.table_name" :counter="25" label="*Table Name" placeholder="items" required @change="stepOneConnectChange()" :rules="commonRules"></v-text-field>
                                </v-flex>
                                <v-flex xs6>
                                  <v-text-field v-model="connectMySQLdb.item_field" :counter="25" label="*Item Fields" placeholder="id,name" required @change="stepOneConnectChange()" ></v-text-field>
                                </v-flex>
                              </v-layout>

                              <v-layout row>
                                <v-flex xs12>
                                  <input type="hidden" v-model="connectMySQLdb.item_id" :counter="25" label="Item IDs" placeholder="1,2,3" />
                                </v-flex>
                              </v-layout>

                              <v-layout row>
                                <v-flex xs12 class="text-xs-right">
                                  <v-btn @click="connectToMySQL()" :disabled="connecting_to_mysql">Connect & Import</v-btn>
                                  <v-btn @click="clearFormImport()">Clear</v-btn>
                                </v-flex>
                              </v-layout>
                          
                            </v-form>
                          </v-card-text>
                        </v-card>
                      </v-tab-item>  
                      </v-tabs>

                      
                      
                    </v-card>
                    <!-- :disabled="data_items_csv.length == 0" -->
                    <v-btn color="primary" @click="e1 = 2" :disabled="data_items_csv.length == 0" >
                      Continue
                    </v-btn>
                  </v-stepper-content>

                  <!-- STEP 2 -->
                  <v-stepper-content step="2">
                    <v-card class="mb-5" color="gray"  >
                      <v-form>
                        <v-layout row wrap>
                          <v-flex xs12>
                            <p class="text-md-left">Imported Items</p>
                            <v-layout row wrap>
                              <v-flex xs6>
                                <v-card >
                                  <v-card-text>

                                      <v-checkbox v-model="stepTwoCheckboxItemProcess" label="Select All Items to Tag Process?" ></v-checkbox>
                                      
                                      <v-select :items="stepTwoSelectRoutes" item-value="id" item-text="name" box label="Select Process to Tag All of the Items" v-model="stepTwoItemsProcess"></v-select>

                                      <v-btn :disabled="stepTwoCheckboxItemProcess == false" @click="stepTwoCheckAllItemProcesses()">Apply All</v-btn>

                                  </v-card-text>
                                </v-card>
                              </v-flex>

                              <v-flex xs6>
                                
                              </v-flex>

                            </v-layout>

                            <v-data-table :headers="headers" :items="data_items_csv" class="elevation-1" >
                              <template slot="headerCell" slot-scope="props">
                                <v-tooltip bottom>
                                  <span slot="activator">
                                    {{ props.header.text }}
                                  </span>
                                  <span>
                                    {{ props.header.text }}
                                  </span>
                                </v-tooltip>
                              </template>
                              <template slot="items" slot-scope="props">
                                <td>
                                  <v-layout align-center>
                                    <v-text-field label="Item Name" v-model="props.item.name" required></v-text-field>
                                  </v-layout>
                                </td>
                                <td><v-text-field label="Item ID" v-model="props.item.item_id" required></v-text-field></td>
                                <td>
                                  <v-layout align-center>
                                    <v-checkbox v-model="props.item.process_check" hide-details class="shrink mr-2"></v-checkbox>
                                    <v-select :items="selectRoutes" item-value="id" item-text="name" box label="Item's Process" v-model="props.item.process" ></v-select>
                                  </v-layout align-center>
                                </td>
                                <td>
                                  <v-layout align-center>
                                    <v-text-field label="Preparation Time (Mins.)" v-model="props.item.preparation_time_mins" type="number" required></v-text-field>
                                  </v-layout>
                                </td>
                                <td>
                                  <v-btn depressed small color="error" @click="deleteUploadedItem(props.item)">Delete</v-btn>
                                </td>
                              </template>
                            </v-data-table>
                          </v-flex>
                        </v-layout>
                      </v-form>
                    </v-card>
                    <v-btn color="primary" @click="e1 = 3" :disabled="proceedStepThree == false" >
                      <!-- selectedItemsSteps -->
                      Continue
                    </v-btn>
                    <v-btn flat @click="e1 = 1">Cancel</v-btn>
                  </v-stepper-content>

                  <!-- STEP 3 -->
                  <v-stepper-content step="3">
                    <v-card class="mb-5" >
                      <p class="text-md-left">Imported Items</p>
                      <v-data-table :headers="stepThreeHeaders" :items="data_items_csv" class="elevation-1">
                        <template slot="items" slot-scope="finalItems">
                          <td>{{ finalItems.item.name }}</td>
                          <td>
                            {{ getStepNameByObjectId(finalItems.item.process) }}
                          </td>
                        </template>
                      </v-data-table>

                    </v-card>
                    <v-alert :value="loaderItemsCurrentlySubmitting" type="warning">
                      Items is now submitting...
                    </v-alert>

                    <v-btn color="primary" @click="submitUploadedItems()" >
                      Submit
                    </v-btn>
                    <v-btn flat @click="e1 = 2">Cancel</v-btn>
                  </v-stepper-content>
                </v-stepper-items>
              </v-stepper>
            </template>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// JS Code
import { http } from "../config/http.js"
import { chunkArr } from "../../src/common/chunk.js"
// import StepItem from "../components/step/step.vue"
// import itemAddDialog from "../components/item/itemAddDialog.vue"
// import itemEditDialog from "../components/item/itemEditDialog.vue"

export default {
  //Variables
  data: () => ({
    stepTwoCheckboxItemProcess: null,

    // text: '123123',
    e1: 1,
    steps: 3,
    errors: [],
    search: '',
    csvFile: '',
    modal_for: null,
    addDialog: false,
    editDialog: false,
    data_items_csv: [ { name: '', process: '' } ],
    alertMySqlImportSuccess: false,
    stepTwoItemsProcess: [],
    proceedStepThree: true,
    stepTwoSelectProcessForAll: '',
    alertMySqlImportFail: false,
    showSuccessMessage: false,
    connecting_to_mysql: false,

    // Required Validation
    commonRules: [
      v => !!v || 'Name is required'
    ],

    // const STATUSES
    STATUS_INITIAL: 0,
    STATUS_SAVING: 1,
    STATUS_SUCCESS: 2,
    STATUS_FAILED: 3,
    
    uploadedFiles: [],
    uploadError: null,
    currentStatus: null,
    uploadFieldName: 'photos',

    loaderFileCurrentlyUploading: false,
    loaderItemsCurrentlySubmitting: false,
    
    // Step 1
    stepOneTabHeader: [
      { id: 'csv-file', name: 'Import CSV File' },
      { id: 'database-item', name: 'Get From Database' }
    ],
    showPassword: false,
    connectMySQLdb: {
      "table_name": "items",
      "item_field": "name, id",
      "item_id": "",
      "host": "127.0.0.1",
      "database_name": "pos_rcbc",
      "username": "logic8geoff",
      "password": "logic8Admin"
    },
    ifStepOneConnectValid: false,
    
    // Step 2 variables & instances
    headers: [
      { text: 'Selected Items', align: 'left', sortable: true },
      { text: 'Item ID', align: 'left' , sortable: false },
      { text: 'Item Route', value: 'calories', align: 'left', sortable: false },
      { text: 'Time Preparation (Mins.)', value: 'time_interval', align: 'left'},
      { text: 'Action', align: 'left', sortable: false }
    ],
    selectSteps: [],
    selectedItems: [],
    selectedItemsSteps: [],

    // Step 3 variables & instances
    stepThreeHeaders: [
      { text: 'Selected Items', align: 'left', sortable: true },
      { text: 'Item Route(KDS Process)' , align: 'left', sortable: true }
    ],


    rules: {
      name: value => {
        return (value != null) || "Invalid name.";
      }
    },
    items: [],
    routesData: [],
    selectRoutes: [ { name: ''} ],
    stepTwoSelectRoutes: [],

    editItemName: null,
    editItemModel: {},

    import_csv_success: false,
    import_csv_error: false,

    import_csv_message: ''
  }),

  /* Components this page will need */
  components: {
    /*
    StepItem: StepItem,
    itemAddDialog: itemAddDialog,
    itemEditDialog: itemEditDialog
    */
  },

  //The methods we will need
  methods: {
    load() {
      this.selectRoutes = [];
      this.stepTwoSelectRoutes = [];
      this.data_items_csv = [];
      // routesData
      http.get('processes').then(response => {
        let routes_data = response.data.data;
        this.routesData = response.data.data;

        console.log(this.routesData);
        // this.selectRoutes = null;
        Object.keys(routes_data).forEach(key => {
          this.selectRoutes[key] = { id: routes_data[key]._id, name: routes_data[key].name, value: routes_data[key] };
        });
        this.stepTwoSelectRoutes = this.selectRoutes;
      }).catch(e => {
        this.errors.push(e);
      });
    },
    uploadCSVitems(inputFile){
      this.csvFile = '';
      this.data_items_csv = [];

      this.csvFile = inputFile.target.files || inputFile.dataTransfer.files;
      this.csvFile = this.csvFile[0];

      this.loaderFileCurrentlyUploading = true;

      let file_pieces = '';

      let formData = new FormData();
      formData.append('file', this.csvFile, this.csvFile.name);
      file_pieces = this.csvFile.name;
      file_pieces = file_pieces.split('.');
      console.log('file_pieces', file_pieces);

      // let csv_file_headers = { 'Content-Type': 'multipart/form-data' };
      // this.clearImportAlertMessages();

      if(file_pieces[1].toLowerCase() == 'csv'){
        http.post(
          '/import_items/upload',
          formData
        ).then(response => {
          this.data_items_csv = [];
          let items_data = response.data.data;
          this.data_items_csv = items_data;

          this.loaderFileCurrentlyUploading = false;

          this.import_csv_success = true;
          this.import_csv_error = false;
          this.import_csv_message = 'You have successfully imported the CSV file, you may now proceed to the next step.';

        }).catch(e => {
          this.errors.push(e);
        });
      } else {
        this.import_csv_success = false;

        this.import_csv_error = true;
        this.import_csv_message = 'The file that is trying to upload is not a valid File type, must be CSV only.';
      }
    },

    clearImportAlertMessages(){
      this.import_csv_error = false;
      this.import_csv_success = false;

      this.import_csv_message = '';
    },

    dismissImportSuccessAlert(){
      this.import_csv_message = '';
      this.import_csv_success = false;
    },

    dismissImportErrorAlert(){
      this.import_csv_message = '';
      this.import_csv_error = false;
    },
    stepOneConnectChange(){
      if(this.connectMySQLdb.table_name != null && 
        this.connectMySQLdb.item_field != null
      ){
        this.ifStepOneConnectValid = true;

      }
    },
    clearFormImport(){
      this.connectMySQLdb = {
        "table_name": "",
        "item_field": "",
        "item_id": "",
        "host": "",
        
        "username": "",
        "password": "",
        "database_name": ""
      };

    },
    connectToMySQL(){
      this.connecting_to_mysql = true;
      console.log('index',this.connectMySQLdb);

      if(this.connectMySQLdb.table_name && this.connectMySQLdb.username && this.connectMySQLdb.password && this.connectMySQLdb.database_name && this.connectMySQLdb.host ){
        http.post("/import_items/get_db_items", this.connectMySQLdb ).then(response => {
          this.alertMySqlImportSuccess = true;
          this.alertMySqlImportFail = false;
          this.connecting_to_mysql = false;

          this.data_items_csv = response.data.data;
        }).catch(e => {
          this.errors.push(e);
          this.alertMySqlImportSuccess = false;
          this.alertMySqlImportFail = true;
          this.connecting_to_mysql = false;
        });
      } else {
        this.alertMySqlImportSuccess = false;
        this.alertMySqlImportFail = true;
        this.connecting_to_mysql = false;
      }

      
      
    },
    checkSelectedItem(selectedItem, dataItem){
      console.log("dataItem param2");
      console.log(dataItem);
      console.log("selectedItems");
      console.log(this.selectedItems);

      if(selectedItem.target.checked){
        this.selectedItemsSteps.push({ step_id: "", name: dataItem.name, process_check: "", description: dataItem.description, item_id: "" } );
      } else {
        this.selectedItemsSteps = this.selectedItemsSteps.filter(function( obj ) { return obj.name !== dataItem.name; });
      }

      console.log(this.selectedItemsSteps);
    },
    updateItemRoute(ItemRouteSelect){
      console.log("Update Item Route");
      console.log(this.selectedItemsSteps);
    },
    getStepNameByObjectId(itemObjStepId){
      let StepItem = "N/A";
      let stepsData = this.selectRoutes;

      if(stepsData.length > 0){
        if(itemObjStepId != ''){
          StepItem = stepsData.find(obj => {
            return (obj._id == itemObjStepId) ? obj.name : "N/A";
          }).name;

          return StepItem;
        }
      }
      
      return StepItem;
    },
    deleteUploadedItem(data){
      let imported_items = this.data_items_csv;
      let index_to_remove = imported_items.map(function(e) { return e; }).indexOf(data);
      imported_items.splice(index_to_remove, 1);

      this.data_items_csv = imported_items;
    },
    stepTwoCheckAllItemProcesses(){
      let csv_items = [];
      
      if(this.stepTwoCheckboxItemProcess == true){
        Object.keys(this.data_items_csv).forEach(key => {
          let csv_item_row = {
            name: this.data_items_csv[key].name,
            item_id: this.data_items_csv[key].item_id,
            preparation_time_mins: this.data_items_csv[key].preparation_time_mins,
            description: "",
            status: 1,
            step_id: '',

            process: "",
            process_check: ""
          };
          if(this.stepTwoCheckboxItemProcess == true){
            this.data_items_csv[key].process = "";
            this.data_items_csv[key].process_check = true;
            this.data_items_csv[key].process = this.stepTwoItemsProcess;

            csv_item_row.process_check = true;
            csv_item_row.process = this.stepTwoItemsProcess;
          } else { 
            this.data_items_csv[key].process_check = false;
          }

          csv_items.push(csv_item_row);
        });
        /*
        Important: Needs to be override to prevent delay of rendering data in the select tag.
        */
        this.data_items_csv = [];
        this.data_items_csv = csv_items;
      }

      // For Testing Development
      /*
      Object.keys(this.data_items_csv).forEach(key => {
        if(this.data_items_csv[key].process_check == true){
          this.data_items_csv[key].process = this.stepTwoItemsProcess;
        }
      });
      */

      this.proceedStepThree = true;
    },

    validateBeforeStepThree(){
      // data_items_csv.length == 0
      console.log('data_items_csv', this.data_items_csv);
      let data_items_csv_import = this.data_items_csv;
      let count_no_process = 0;

      Object.keys(data_items_csv_import).forEach(key => {
        if(data_items_csv_import[key].process === undefined){
          count_no_process++;
        }
      });
      console.log('count_no_process', count_no_process);

      if(count_no_process == 0){
        this.proceedStepThree = true;
      }
    },
    submitUploadedItems(){
      // console.log('step3 submitted');
      let item_store = [];
      let length_data_items_csv = 0;
      let chunked_data_items_csv = [];
      let raw_data_items_csv = this.data_items_csv;
      // console.log('raw_data_items', raw_data_items_csv); // id process

      this.loaderItemsCurrentlySubmitting = true;

      Object.keys(this.data_items_csv).forEach(key => {
        let process_value = this.selectRoutes.filter(function( objRoute ) { return objRoute.id == raw_data_items_csv[key].process })[0].value;

        item_store.push( {
          description: this.data_items_csv[key].description,
          item_id: parseInt(this.data_items_csv[key].item_id),
          name: this.data_items_csv[key].name,
          process: process_value,
          preparation_time_mins: this.data_items_csv[key].preparation_time_mins,
          status: "true"
        });
      });
      this.data_items_csv = item_store;

      length_data_items_csv = this.data_items_csv.length;

      if(length_data_items_csv > 200){
        console.log('if');
        chunked_data_items_csv = chunkArr.chunk(this.data_items_csv, 200);
        // console.log('chunked data items', chunked_data_items_csv);

        Object.keys(chunked_data_items_csv).forEach(key => {
          console.log('/import_items/submit_upload', chunked_data_items_csv[key]);
          http.post("/import_items/submit_upload", chunked_data_items_csv[key]).then(response => {
            /*this.selectedItems = [];
            this.data_items_csv = [];
            this.selectedItemsSteps = [];*/

            console.log('batch - ' + key, chunked_data_items_csv[key]);

            this.submit = true;
            this.loaderItemsCurrentlySubmitting = false;
            this.showSuccessMessage = true;
            this.alert(true, 'Create', 'step');

          }).catch(e => {
            // this.alert(false, 'Create', 'step')
            console.error( e);
          });
        });
      } else {
        console.log('else');
        http.post("/import_items/submit_upload", this.data_items_csv).then(response => {
          this.selectedItems = [];
          this.data_items_csv = [];
          this.selectedItemsSteps = [];
          this.loaderItemsCurrentlySubmitting = false;
          this.showSuccessMessage = true;

          this.submit = true 
          this.alert(true, 'Create', 'step')
          this.close()
        }).catch(e => {
          this.submit = true
          // this.alert(false, 'Create', 'step')
        });
      }
    },
    alert(success, callName, resource) {
      console.log('Page Alerting');

      this.$emit('alert', success, callName, resource);
      this.load();
    }
  },

  computed: {
    isInitial() {
      return this.currentStatus === this.STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === this.STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === this.STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === this.STATUS_FAILED;
    }
  },

  //get those users
  mounted() {
    this.load();
    console.log(this.routesData);
  }
};
</script>

<!-- SASS styling -->
<style >
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>
