<template>
<v-container fluid grid-list-lg>
  <v-layout row wrap>
    <v-flex xs12 sm12 md12>
      <v-card>
        <v-card-title>
          Items Master List
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>

        <v-alert :value="true" color="warning" icon="new_releases" v-if="items.length == 0">
          Please add record of Process first before adding a new item.
        </v-alert>

        <v-data-table :headers="headers" :items="items" :search="search">
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ (props.item.process.name !== undefined) ? props.item.process.name : 'N/A' }} <!-- ({{ formatProcessStep(props.item.process.steps) }})  --></td>
            <td class="text-xs-left">{{ (props.item.preparation_time_mins != null) ? props.item.preparation_time_mins + " Mins." : "N/A" }}</td>
            <td class="text-xs-left">
              <v-icon
                small
                class="mr-2"
                @click="setupEditItem(props.item.id, props.item)"
              >edit</v-icon>
              <v-icon
                small
                class="mr-2"
                @click="setupDeleteArea(props.item._id, props.item)"
              >delete</v-icon>
            </td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
        <v-card-text style="height: 100px; position: relative">
          <!-- Add Dialog -->
          <v-dialog v-model="addDialog" lazy absolute max-width="50%">
            <!-- Add Dialog Button -->
            <v-btn absolute dark fab top left color="green" slot="activator">
              <v-icon>add</v-icon>
            </v-btn>

            <!-- Add Dialog -->
            <itemAddDialog :rules="rules" :createItemModel="createItemModel" :routesData="routesData" :selectRoutes="selectRoutes" @closeAdd="addDialog = false" @alert="alert">
            </itemAddDialog>
          </v-dialog>

          <!-- Edit Dialog -->
          <v-dialog v-model="editDialog" lazy absolute max-width="50%">
            <itemEditDialog :rules="rules" :editItemModel="editItemModel" :selectRoutes="selectRoutes" :editItemName="editItemName" 
            @closeEdit="editDialog = false; itemToEdit = {}" @alert="alert">
            </itemEditDialog>
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="deleteDialog" lazy absolute max-width="40%">
                <itemDeleteDialog :itemToDelete="itemToDelete" :item="itemToDelete" :deleteItemName="deleteItemName" @closeDelete="deleteDialog = false" @alert="alert">

                </itemDeleteDialog>
              </v-dialog>

        </v-card-text>
      </v-card>
    </v-flex>

  </v-layout>
</v-container>
</template>

<script>
// JS Code
import {
  http
} from "../config/http.js"
// import StepItem from "../components/step/step.vue"
import itemAddDialog from "../components/item/itemAddDialog.vue"
import itemEditDialog from "../components/item/itemEditDialog.vue"
import itemDeleteDialog from "../components/item/itemDeleteDialog.vue"

export default {
  //Variables
  data: () => ({
    e1: 1,
    steps: 3,
    errors: [],
    modal_for: null,
    search: '',
    always_show: true,
    addDialog: false,
    editDialog: false,
    deleteDialog: false,
    rules: {
      name: value => {
        return (value != null) || "Invalid name.";
      }
    },
    headers: [{
        text: 'Item Name ',
        value: 'name'
      },
      {
        text: 'Item Process ',
        value: 'process'
      },
      {
        text: 'Preparation Time (Mins.)',
        value: 'preparation_time_mins'
      },
      {
        text: 'Actions',
        value: 'action',
        sortable: false
      }
    ],
    items: [],
    routesData: [],
    selectRoutes: [],
    createItemModel: {
      name: "",
      description: "",
      process: {},
      item_id: "",
      preparation_time_mins: "",
      status: 'Active'
    },
    editItemName: "",
    editItemModel: {},

    itemToDelete: {},
    deleteItemName: ""
  }),

  //Components this page will need
  components: {
    // StepItem: StepItem,
    itemAddDialog: itemAddDialog,
    itemEditDialog: itemEditDialog,
    itemDeleteDialog: itemDeleteDialog
  },

  //The methods we will need
  methods: {
    load() {
      http.get("items").then(response => {
        this.items = response.data.data;
      }).catch(e => {
        this.errors.push(e);
      });

      http.get('processes').then(response => {
        let area_data = response.data.data;

        Object.keys(response.data.data).forEach(key => {
          this.selectRoutes.push({ id: area_data[key]._id, name: area_data[key].name, value: area_data[key] });
        });
        
      }).catch(e => {
        this.errors.push(e);
      });
    },
    formatProcessStep(data){ // format in process area in list
      let areasStr = [];
      let stepsData = data;
      let areasStrIndex = 0;
      
      if(this.always_show){
        Object.keys(stepsData).forEach(key => {
          areasStr[areasStrIndex] = stepsData[key].area_name;
          areasStrIndex++;
          console.log('show_always', this.always_show);
        });
      }

      return (areasStr.length > 0) ? areasStr.join(' -> ') : ' N/A ';
    },
    setupEditItem(id, item){
      // this.editItemModel = item;
      // this.editItemName = item.name;
      // this.editItemModel.process = item.process._id;
      // this.editItemDesc = item.description;
      this.editItemModel = item;
      console.log('editItemModel', this.editItemModel);

      this.editDialog = true;
      this.modal_for = 'edit';
    },

    setupDeleteArea(id, item_data){
      this.itemToDelete = item_data;
      // this.deleteItemName = item_data.name;

      this.deleteDialog = true;
      this.modal_for = 'delete';

    },

    // Archive Area
    deleteItem(id) {
      this.dialog = true;
      this.modal_for = 'delete';

      http.delete("items/" + id).then(response => {
        this.load();
      }).catch(e => {
        this.errors.push(e);
      });

    },


    alert(success, callName, resource) {
      console.log('Page Alerting');
      this.$emit('alert', success, callName, resource);
      this.load();
    }
  },

  //get those users
  mounted() {
    this.load();
  }
};
</script>
