<template>
<v-container fluid grid-list-lg>
  <v-layout row wrap>
    <v-flex xs12 sm12 md12>
      <v-card>
        <v-card-title>
          Process List
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>

        <v-alert :value="true" color="warning" icon="new_releases" v-if="steps.length == 0">
          Please add record of Area(s) first before saving a new process.
        </v-alert>

        <v-data-table :headers="headers" :items="steps" :search="search">
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ formatProcessStep( props.item.steps ) }}</td>
            <td class="text-xs-left">
              <v-icon
                small
                class="mr-2"
                @click="setupEditArea(props.item._id, props.item)"
              >edit</v-icon>
              <v-icon
                small
                class="mr-2"
                @click="setupDeleteProcess(props.item._id, props.item)"
              >delete</v-icon>
            </td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
        <v-card-text style="height: 100px; position: relative">
          <!-- Add Dialog -->
          <v-dialog v-model="addDialog" lazy absolute max-width="50%">
            <!-- Add Dialog Button -->
            <v-btn absolute dark fab top left color="green" slot="activator" >
              <v-icon>add</v-icon>
            </v-btn>

            <!-- Add Dialog -->
            <StepAddDialog :rules="rules" :areas_data="areas_data" :createStepModel="createStepModel" @closeAdd="addDialog = false" @alert="alert">
            </StepAddDialog>
          </v-dialog>

          <!-- Edit Dialog -->
          <v-dialog v-model="editDialog" lazy absolute max-width="50%">
            <StepEditDialog :rules="rules" :areas_data="areas_data" :editStepModel="editStepModel" :form_select_steps="form_select_steps" :form_select_areas="form_select_areas" :editStepName="editStepName"
            @closeEdit="editDialog = false; stepToEdit = {}" @alert="alert">
            </StepEditDialog>
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="deleteDialog" lazy absolute max-width="40%">
                <StepDeleteDialog :processToDelete="processToDelete" :process="processToDelete" :deleteProcessName="deleteProcessName" @closeDelete="deleteDialog = false" @closeEdit="editDialog = false; processToEdit = {}, deleteProcessName = ''" @alert="alert">

                </StepDeleteDialog>
              </v-dialog>

        </v-card-text>
      </v-card>
    </v-flex>

  </v-layout>
</v-container>
</template>

<script>
// JS Code
import {
  http
} from "../config/http.js"
import StepItem from "../components/process/process.vue"
import StepAddDialog from "../components/process/processAddDialog.vue"
import StepEditDialog from "../components/process/processEditDialog.vue"
import StepDeleteDialog from "../components/process/processDeleteDialog.vue"

export default {
  //Variables
  data: () => ({
    errors: [],
    search: '',
    headers: [{
        text: 'Process Name',
        value: 'name'
      }, {
        text: 'Areas',
        value: 'area'
      }, {
        text: 'Actions',
        value: 'action',
        sortable: false
      }
    ],
    rules: {
      name: value => {
        return (value != null) || "Invalid name.";
      }
    },
    stepToEdit: {},
    createStepModel: {
      name: null,
      steps: []
    },
    editStepModel: {
      _id: null,
      name: null,
      steps: []
    },
    modal_for: null,
    addDialog: false,
    editDialog: false,
    deleteDialog: false,
    steps: [],
    areas_data: [],
    editStepId: null,
    editStepName: null,
    form_select_steps: [],
    form_select_areas: [],

    processToDelete: {},
    deleteProcessName: ""
  }),

  //Components this page will need
  components: {
    StepItem: StepItem,
    StepAddDialog: StepAddDialog,
    StepEditDialog: StepEditDialog,
    StepDeleteDialog: StepDeleteDialog
  },

  //The methods we will need
  methods: {
    //load all Steps from DB, we call this often to make sure the data is up to date
    load() {
      http.get("processes").then(response => {
        this.steps = response.data.data;
      }).catch(e => {
        this.errors.push(e);
      });

      // Load Areas
      http.get("areas").then(response => {
        let area_row_index = 0;
        let area_model = [];
        let areas_data = response.data.data;
        this.areas_data = response.data.data;

        // this.createStepModel.areas_data = response.data.data;
        // console.log(response.data.data);
        Object.keys(response.data.data).forEach(key => {
          this.form_select_steps[key] = Number(key) + 1;
          this.form_select_areas[key] = { area_name: this.areas_data[key].name, area_id: this.areas_data[key]._id };
        });

        this.createStepModel.steps = area_model;

      }).catch(e => {
        this.errors.push(e);
      });
    },

    formatProcessStep(data){ // format in process area in list
      let areasStr = [];
      let stepsData = data;
      let areasStrIndex = 0;
      
      Object.keys(stepsData).forEach(key => {
        areasStr[areasStrIndex] = stepsData[key].area_name;
        areasStrIndex++;
      });

      return areasStr.join(' -> ');
    },

    // Edit Step
    setupEditArea(id, step_data) {
      this.editStepName = step_data.name; // setupEditArea
      this.editStepModel = step_data;
      console.log('set up step', this.editStepModel);

      this.editDialog = true;
      this.modal_for = 'edit';
    },

    // Archive Step
    deleteStep(id, data) {
      this.dialog = true;
      this.modal_for = 'delete';
    },

    //opens delete dialog
    setupDeleteProcess(id,data_process) {
      this.processToDelete = data_process;
      this.deleteAreaName = data_process.name;

      this.deleteDialog = true;
      this.modal_for = 'delete';
    },

    //opens edit dialog
    setupEdit(step) {
      Object.keys(step).forEach(key => {
        this.userToEdit[key] = step[key];
      });
      this.editStepName = step.name;
      this.editDialog = true;
    },

    // Archive Area
    deleteProcess(id) {
      this.dialog = true;
      this.modal_for = 'delete';

      http.delete("processes/" + id).then(response => {
        this.load();
      }).catch(e => {
        this.errors.push(e);
      });

    },
    
    //build the alert info for us
    //Will emit an alert, followed by a boolean for success, the type of call made, and the name of the
    //resource we are working on
    alert(success, callName, resource) {
      this.$emit('alert', success, callName, resource);
      this.load();
    }
  },

  //get those users
  mounted() {
    this.load();
  }
};
</script>
