<template>
<!--   <v-container>
<v-btn color="error">Clear All</v-btn>
</v-container> -->

<v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <template>
          <v-toolbar flat color="white">
            <v-toolbar-title>Transaction Duration</v-toolbar-title>
          </v-toolbar>
          <v-data-table :headers="TransactionRecordsDurationHeaders" :items="TransactionRecordsDurationItems" hide-actions class="elevation-1" max-width="100%">
            <template slot="items" slot-scope="props">
              <td class="text-xs-left">{{ Number(props.item.trans_id) }}</td>
              <td class="text-xs-left">{{ props.item.table_name }}</td>
              <td class="text-xs-left">{{ props.item.customer_name }}</td>
              <td class="text-xs-left">{{ props.item.quantity }}</td>
              <td class="text-xs-left">{{ props.item.time_difference }}</td>
              <td class="justify-center px-0">
                <v-btn small color="primary" @click="viewTransactionSummary(props.item.trans_id)" dark><v-icon>book</v-icon> View</v-btn>
              </td>
            </template>
          </v-data-table>
        </template>
      </v-flex>
      <!--
      <v-flex xs6>
        <template>
          <v-toolbar flat color="white">
            <v-toolbar-title>Item Durations per Transaction</v-toolbar-title>

          </v-toolbar>
          <v-data-table :headers="TransactionDetailsRecordsDurationHeaders" :items="TransactionDetailsRecordsDuration" hide-actions class="elevation-1" max-width="100%">
            <template slot="items" slot-scope="props">
              <td class="text-xs-left">{{ props.item.trans_id }}</td>
              <td class="text-xs-left">{{ props.item.item_name }}</td>
              <td class="text-xs-left">{{ props.item.quantity }}</td>
              <td class="text-xs-left">{{ props.item.time_different_min }}</td>
            </template>
          </v-data-table>
        </template>
      </v-flex>
      -->
    </v-layout>
  </v-container>
</template>

<script>
import { http } from "../config/http.js"
import { configuration } from "../config/configuration.js"
import io from 'socket.io-client';

export default {
    data: () => ({
      TransactionRecordsDurationHeaders: [
        { text: 'Transaction ID', value: 'trans_id', sortable: false },
        { text: 'Table', value: 'table_name', sortable: false },
        { text: 'Customer Name', value: 'customer_name', sortable: false },
        { text: 'Total Quantity', value: 'quantity', sortable: false },
        { text: 'Total Time Duration', value: 'time_difference', sortable: false },
        { text: 'Actions', value: 'trans_id', sortable: false }
      ],

      TransactionDetailsRecordsDurationHeaders: [
        { text: 'Transaction ID', value: 'trans_id', sortable: false },
        { text: 'Item Name', value: 'item_name', sortable: false },
        { text: 'Quantity', value: 'quantity', sortable: false },
        { text: 'Time Duration (Mins.)', value: 'time_different_min' }
      ],
      socket : io(configuration.socketURL),
      socket_url: '',
      socket_port: '',

      user: '',
      message: '',
      isLoading: true,
      isCustomerViewing: false,
      name: '',
      objects: [],
      TransactionRecordsDurationItems: [],
      TransactionDetailsRecordsDuration: [],
      selectedVoice: 0,
      synth: window.speechSynthesis,
      voiceList: [],
      greetingSpeech: new window.SpeechSynthesisUtterance(),
      rowsPerPageItems: [3, 6, 9, 12],
      interval: 1,
      endVal: 0,
      options: {
        year: 0,
        month: 0,
        day: 0,
        hours: 0,
        minutes: 0,
        seconds: 0
      },
      pagination: {
        rowsPerPage: 3
      },
      errors: [],
      items: [],
    }),
    components: {
    },
    methods: {
      onReady: function(instance, CountUp) {
        let that = this;
        let timestamp = new Date(that.options.year, that.options.month, that.options.day,
        that.options.hours, that.options.minutes, that.options.seconds);

        if(this.$route.name == 'claiming_customer'){
          this.isCustomerViewing = true;
        }

        that.interval = 1;
        /*
        setInterval(function () {
            timestamp = new Date(timestamp.getTime() + that.interval * 1000);
            that.endVal = timestamp.getHours() + ':' + timestamp.getMinutes() + ':' + timestamp.getSeconds();
        }, Math.abs(that.interval) * 1000);
        */
      },

      loadSocketConfig() {
        http.get("configuration").then(response => {
          console.log(response)
          this.socket_url = response.data.data.web_host;
          this.socket_port = response.data.data.socket_port;

          this.socket = io(this.socket_url + ':' + this.socket_port);
        }).catch(e => {
          this.errors.push(e);
        });
      },

      listenForSpeechEvents () {
        this.greetingSpeech.onstart = () => {
          this.isLoading = true
        }

        this.greetingSpeech.onend = () => {
          this.isLoading = false
        }
      },

      /**
       * Shout at the user
       */
      greet (text) {
        // it should be 'craic', but it doesn't sound right
        this.greetingSpeech.text = `Customer number ` + text + ', your order is ready.'

        this.greetingSpeech.voice = this.voiceList[1]
        
        this.synth.speak(this.greetingSpeech)
      },

      fetchTransactionsDurations(){
        let uri = 'reports/trans_duration';
        http.get(uri).then(response => {
          let items = response.data.data;
          let transactions = [];
          
          Object(items).forEach((transaction_detail, trans_dtls_index) => {
            let transaction_time_diff_h = transaction_detail.time_difference_hour.toFixed(0);
            let transaction_time_diff_m = transaction_detail.time_different_min.toFixed(0);
            let transaction_time_diff_s = transaction_detail.time_different_sec.toFixed(0);

            // let transaction_time_difference = ;
            let item_row = {
              trans_id: transaction_detail.trans_id,
              table_name: transaction_detail.table_name,
              customer_name: transaction_detail.customer_name,
              quantity: transaction_detail.total_quantity,
              time_difference: "Hours: " + transaction_time_diff_h + " / Minutes: " + transaction_time_diff_m + " / Seconds: " + transaction_time_diff_s
            };
            transactions.push(item_row);
          });

          this.TransactionRecordsDurationItems = transactions;
          // console.clear();
        }).catch(e => {
          this.errors.push(e);
        });
      },
      viewTransactionSummary(transaction_id){
        let url = window.location.href;
        let new_url = '';
        let url_parts = '';
        url = url.split('?');
        url = url[0];

        url_parts = url.split('/');
        new_url = url_parts[0] + '//' + url_parts[2] + '/' + 'reports_transaction_summary?trans_id=' + transaction_id;

        window.location = new_url;
      }
    },
    created: function() {
      this.onReady();
    },
    mounted () {
      this.loadSocketConfig();

      this.fetchTransactionsDurations();

      this.voiceList = this.synth.getVoices();

      if (this.voiceList.length) {
        this.isLoading = false
      }

      this.socket.on('transaction_claimed', (data) => {
        console.log('mounted_transaction_claimed');

        this.fetchTransactionDetailsDuration();
      });

      this.socket.on('bumping', (data) => {
        this.fetchTransactionDetailsDuration();
      });

      this.socket.on('broad', (data) => {        
        this.fetchTransactionDetailsDuration();
      });

      this.synth.onvoiceschanged = () => {
        this.voiceList = this.synth.getVoices()

        setTimeout(() => {
          this.isLoading = false
        }, 800)
      }

      this.listenForSpeechEvents()
    },
  }
</script>

<style scoped>
  .iCountUp {
    font-size: 1.4em;
    margin: 0;
  }
</style>
