<template>
  <!--   <v-container>
    <v-btn color="error">Clear All</v-btn>
    </v-container> -->
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-btn color="info" @click="exportAsCSV()">Export As CSV</v-btn>
      <v-flex xs12>
        <v-tabs color="primary" dark slider-color="yellow">
          <v-tab v-for="tab_header in tab_header_reports">
            {{ tab_header.text }}
          </v-tab>
          <v-tab-item>
            <template>
              <v-toolbar flat color="white">
                <v-toolbar-title>Item Durations per Transaction</v-toolbar-title>
              </v-toolbar>
              <v-data-table :headers="TransactionDetailsRecordsDurationHeaders" :items="TransactionDetailsRecordsDuration" hide-actions class="elevation-1" max-width="100%">
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">{{ props.item.trans_id }}</td>
                  <td class="text-xs-left">{{ props.item.item_name }}</td>
                  <td class="text-xs-left">{{ props.item.quantity }}</td>
                  <td class="text-xs-left">{{ props.item.time_difference }}</td>
                </template>
              </v-data-table>
            </template>
          </v-tab-item>
          <v-tab-item>
            <template>
              <v-toolbar flat color="white">
                <v-toolbar-title>Item Durations per Area</v-toolbar-title>
              </v-toolbar>
              <v-data-table :headers="TransactionDetailsAuditRecordsDurationHeaders" :items="TransactionDetailsAuditRecords" hide-actions class="elevation-1" max-width="100%">
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">{{ props.item.item_name }}</td>
                  <td class="text-xs-left">{{ props.item.area_name }}</td>
                  <td class="text-xs-left">{{ props.item.start_time }}</td>
                  <td class="text-xs-left">{{ props.item.end_time }}</td>
                  <td class="text-xs-left">{{ props.item.date_time_diff }}</td>
                </template>
              </v-data-table>
            </template>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { http } from "../config/http.js"
import { configuration } from "../config/configuration.js"
import io from 'socket.io-client';

export default {
    data: () => ({
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',

      tab_header_reports: [
        { text: 'Item Overall Duration' },
        { text: 'Duration Each Area' }
      ],

      TransactionDetailsAuditRecordsDurationHeaders: [
        { text: 'Item Name', value: 'item_name', sortable: false },
        { text: 'Area Name', value: 'area_name', sortable: false },
        { text: 'Date & Time (Start)', value: 'start_time', sortable: false },
        { text: 'Date & Time (End)', value: 'end_time', sortable: false },
        { text: 'Time Difference', value: 'date_time_diff', sortable: false }
      ],

      TransactionDetailsRecordsDurationHeaders: [
        { text: 'Transaction ID', value: 'trans_id', sortable: false },
        { text: 'Item Name', value: 'item_name', sortable: false },
        { text: 'Quantity', value: 'quantity', sortable: false },
        { text: 'Time Duration', value: 'time_different_min' }
      ],
      socket : io(configuration.socketURL),
      socket_url: '',
      socket_port: '',

      user: '',
      message: '',
      isLoading: true,
      isCustomerViewing: false,
      name: '',
      objects: [],
      TransactionDetailsAuditRecords: [],
      TransactionRecordsDurationItems: [],
      TransactionDetailsRecordsDuration: [],

      selectedVoice: 0,
      synth: window.speechSynthesis,
      voiceList: [],
      greetingSpeech: new window.SpeechSynthesisUtterance(),
      rowsPerPageItems: [3, 6, 9, 12],
      interval: 1,
      endVal: 0,
      options: {
        year: 0,
        month: 0,
        day: 0,
        hours: 0,
        minutes: 0,
        seconds: 0
      },
      pagination: {
        rowsPerPage: 3
      },
      errors: [],
      items: [],
    }),
    components: {
    },
    methods: {
      onReady: function(instance, CountUp) {
        if(this.$route.query.trans_id == "" || this.$route.query.trans_id == null || this.$route.query.trans_id == undefined){
          let url = window.location.href;
          let new_url = '';
          let url_parts = '';
          url = url.split('?');
          url = url[0];

          url_parts = url.split('/');
          new_url = url_parts[0] + '//' + url_parts[2] + '/' + 'reports';

          window.location = new_url;
        }
      },

      loadSocketConfig() {
        http.get("configuration").then(response => {
          this.socket_url = response.data.data.web_host;
          this.socket_port = response.data.data.socket_port;

          this.socket = io(this.socket_url + ':' + this.socket_port);
        }).catch(e => {
          this.errors.push(e);
        });
      },

      listenForSpeechEvents () {
        this.greetingSpeech.onstart = () => {
          this.isLoading = true
        }

        this.greetingSpeech.onend = () => {
          this.isLoading = false
        }
      },

      /**
       * Shout at the user
       */
      greet (text) {
        // it should be 'craic', but it doesn't sound right
        this.greetingSpeech.text = `Customer number ` + text + ', your order is ready.'

        this.greetingSpeech.voice = this.voiceList[1]
        
        this.synth.speak(this.greetingSpeech)
      },

      fetchTransactionDetailsDuration() {
        let transactions_id = this.$route.query.trans_id;

        let uri = '/reports/trans_details_duration/' + transactions_id;

        http.get(uri).then(response => {
          let items = response.data.data;
          console.log('fetchTransactionDetailsDuration', items);
          let most_oredered_items = [];
          
          Object(items).forEach((transaction_detail, trans_dtls_index) => {
            let start_actual_time  =  transaction_detail.createdAt;
            let end_actual_time    =  transaction_detail.updatedAt;

            start_actual_time = new Date(start_actual_time);
            end_actual_time = new Date(end_actual_time);

            let diff = end_actual_time - start_actual_time;

            let diffSeconds = diff/1000;
            let HH = Math.floor(diffSeconds/3600);
            let MM = Math.abs(Math.floor(diffSeconds%3600)/60);
            MM = MM.toFixed(0);
            let SS = MM;

            let formatted_time_diff = ((HH < 10)?("0" + HH):HH) + ":" + ((MM < 10)?("0" + MM):MM);

            let item_row = {
              trans_id: Number(transaction_detail.trans_id),
              item_name: transaction_detail.item_name,
              quantity: transaction_detail.quantity,
              time_difference: formatted_time_diff
            };
            most_oredered_items.push(item_row);
          });
          this.TransactionDetailsRecordsDuration = most_oredered_items;
          // console.clear();
        }).catch(e => {
          this.errors.push(e);
        });
      },
      
      fetchTransactionDetailsAudit(){
        let transactions_id = this.$route.query.trans_id;
        let uri = '/transaction_details_timer?allow_empty_end_time=false&trans_id=' + transactions_id;

        http.get(uri).then(response => {
          let items = response.data.data;
          let transaction_details_audit_records = [];

          Object(items).forEach((transaction_details_audits, trans_dtls_aud_index) => {
            console.log(trans_dtls_aud_index, transaction_details_audits);
            let tda_step = transaction_details_audits.step_no - 1;
            tda_step = (tda_step < 0) ? 0 : tda_step;

            let start_actual_time  =  transaction_details_audits.start_time;
            let end_actual_time    =  transaction_details_audits.end_time;

            start_actual_time = new Date(start_actual_time);
            end_actual_time = new Date(end_actual_time);

            let diff = end_actual_time - start_actual_time;

            let diffSeconds = diff/1000;
            let HH = Math.floor(diffSeconds/3600).toFixed(0);
            let MM = Math.floor(diffSeconds%3600)/60;
            MM = MM.toFixed(0);
            let SS = MM;

            let formatted_time_diff = ((HH < 10)?("0" + HH):HH) + ":" + ((MM < 10)?("0" + MM) : MM);

            let transaction_details_audit = {
              item_name : transaction_details_audits.item_info[0].name,
              area_name: transaction_details_audits.item_info[0].process.steps[tda_step].area_name,
              qty : transaction_details_audits.qty,

              start_time : transaction_details_audits.start_time,
              end_time: transaction_details_audits.end_time,

              date_time_diff: formatted_time_diff
            };

            transaction_details_audit_records.push(transaction_details_audit);
          });
          console.log('transaction_details_audit_records', transaction_details_audit_records);

          this.TransactionDetailsAuditRecords = transaction_details_audit_records;

        });
      },

      exportAsCSV(){
        let transactions_id = this.$route.query.trans_id;
        let export_url = '/reports/export_trans_details_duration/' + transactions_id + '?transaction_id=' + transactions_id;
        console.log(123, configuration.baseURL + export_url);

        window.location.href = configuration.baseURL + export_url;
      }
    },
    created: function() {
      this.onReady();
    },
    mounted () {
      this.loadSocketConfig();

      this.fetchTransactionDetailsAudit();

      this.fetchTransactionDetailsDuration();

      this.voiceList = this.synth.getVoices()

      if (this.voiceList.length) {
        this.isLoading = false
      }

      /*
      this.socket.on('transaction_claimed', (data) => {
        console.log('mounted_transaction_claimed');
        this.fetchTransactionDetailsDuration();
      });

      this.socket.on('bumping', (data) => {
        this.fetchTransactionDetailsDuration();
      });

      this.socket.on('broad', (data) => {        
        this.fetchTransactionDetailsDuration();
      });
      */

      this.synth.onvoiceschanged = () => {
        this.voiceList = this.synth.getVoices()

        setTimeout(() => {
          this.isLoading = false
        }, 800)
      }

      this.listenForSpeechEvents()
    },
  }
</script>

<style scoped>
  .iCountUp {
    font-size: 1.4em;
    margin: 0;
  }
</style>
