<template>
<v-container fluid grid-list-lg>
  <v-layout row wrap>
    <v-flex xs12 sm12 md12>
      <v-card>
        <v-card-title>
          To Do List
          <v-spacer></v-spacer>
          <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        
        <v-data-table :headers="headers" :items="todos" :search="search">
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.task_title }}</td>
            <td class="text-xs-left">{{ (props.item.task_description != '') ? props.item.task_description : 'N/A' }}</td>
            <td class="text-xs-left">{{ props.item.interval_mins }} Mins.</td>
            <td class="text-xs-left">
              <v-icon
                small
                class="mr-2"
                @click="setupEdittodo(props.item.id, props.item)"
              >edit</v-icon>
              <v-icon
                small
                class="mr-2"
                @click="setupDeletetodo(props.item._id, props.item)"
              >delete</v-icon>
            </td>
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>

        </v-data-table>
        <v-card-text style="height: 100px; position: relative">
          <!-- Add Dialog -->
          <v-dialog v-model="addDialog" lazy absolute max-width="50%">
            <!-- Add Dialog Button -->
            <v-btn absolute dark fab top left color="green" slot="activator">
              <v-icon>add</v-icon>
            </v-btn>

            <!-- Add Dialog -->
            <todoAddDialog :rules="rules" :todos="todos" @closeAdd="addDialog = false" @alert="alert">
            </todoAddDialog>
          </v-dialog>

          <!-- Edit Dialog -->
          <v-dialog v-model="editDialog" lazy absolute max-width="50%">
            <todoEditDialog :rules="rules" :todo="todoToEdit" :edittodotitle="editTodoTitle" :edittodoDesc="edittodoDesc" :edittodointervalmins="edittodotaskIntervalMins"
            @closeEdit="editDialog = '', modal_for = '', todo = {}, todoToEdit = {}, editTodoTaskTitle = '', edittodoDesc = ''" @alert="alert">
            </todoEditDialog>
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="deleteDialog" lazy absolute max-width="40%">
                <todoDeleteDialog :todoToDelete="todoToDelete" :todo="todoToDelete" :deletetodoName="deletetodoName" @closeDelete="deleteDialog = false" @alert="alert">

                </todoDeleteDialog>
              </v-dialog>

        </v-card-text>
      </v-card>
    </v-flex>

  </v-layout>
</v-container>
</template>

<script>
// JS Code
import {
  http
} from "../config/http.js"
import todoItem from "../components/todo/todo.vue"
import todoAddDialog from "../components/todo/todoAddDialog.vue"
import todoEditDialog from "../components/todo/todoEditDialog.vue"
import todoDeleteDialog from "../components/todo/todoDeleteDialog.vue"

export default {
  //Variables
  data: () => ({
    errors: [],
    search: '',
    headers: [{
        text: 'To do',
        value: 'task_title'
      },
      {
        text: 'Description',
        value: 'task_description'
      },
      {
        text: 'Task Interval (mins.)',
        value: 'interval_mins'
      },
      {
        text: 'Actions',
        value: 'action',
        sortable: false
      }
    ],
    rules: {
      name: value => {
        return (value != null || value != '') || "Invalid name.";
      }
    },
    editName: '',
    todoToEdit: {},
    modal_for: '',
    todoToDelete: {},
    deleteDialog: false,
    addDialog: false,
    editDialog: false,
    todos: [],
    edittodoId: '',
    editTodoTitle: '',
    edittodoDesc: '',
    edittodotaskIntervalMins:'',
    deletetodoName: ''
  }),

  //Components this page will need
  components: {
    todoItem: todoItem,
    todoAddDialog: todoAddDialog,
    todoEditDialog: todoEditDialog,
    todoDeleteDialog: todoDeleteDialog
  },

  //The methods we will need
  methods: {
    //load all todos from DB, we call this often to make sure the data is up to date
    load() {
      http.get("to_do").then(response => {
        this.todos = response.data.data;
      }).catch(e => {
        this.errors.push(e);
      });
    },

    // Edit todo
    setupEdittodo(id, todo_data) {
      this.todoToEdit = {};
      this.editTodoTaskTitle = '';
      this.edittodoDesc = '';

      Object.keys(todo_data).forEach(key => {
        this.todoToEdit[key] = todo_data[key];
      });
      console.log('setup todo');
      console.log(todo_data);

      this.editTodoTitle = todo_data.task_title;
      this.edittodoDesc = todo_data.task_description;
      this.edittodotaskIntervalMins = todo_data.interval_mins;

      this.todoToEdit = {
        _id: todo_data._id,
        task_title: todo_data.task_title,
        task_description: todo_data.description,
        interval_mins: todo_data.interval_mins                                        
      };

      this.editDialog = true;
      this.modal_for = 'edit';
    },

    // Archive todo
    setupDeletetodo(id, todo_data) {
      this.todoToDelete = todo_data;
      this.deletetodoName = todo_data.name;

      this.deleteDialog = true;
      this.modal_for = 'delete';

      // http.delete("todos/" + id).then(response => {
      //   this.load();
      // }).catch(e => {
      //   this.errors.push(e);
      // });
    },

    //build the alert info for us
    //Will emit an alert, followed by a boolean for success, the type of call made, and the name of the
    //resource we are working on
    alert(success, callName, resource) {
      console.log('Page Alerting');
      this.$emit('alert', success, callName, resource);
      this.load();
    }
  },

  //get those users
  mounted() {
    this.load();
  }
};
</script>
