<template>


    <v-card>
      <v-toolbar class="primary primaryText--text">
        <v-toolbar-title > Add todo </v-toolbar-title>
      </v-toolbar>
      <v-container fluid>
        <v-card-text>
          <v-alert :value="hasError" type="error">
            {{ errorMessage }}
          </v-alert>
          Fields with * are required.
          <!-- Begin Input Row -->
          <v-form ref="form">
          <v-text-field label="*Title" v-model="todo.task_title" required></v-text-field>
          <v-text-field label="Description" v-model="todo.description"></v-text-field>
          <v-text-field type="number" label="*Interval in Minutes" v-model="todo.interval_mins" required></v-text-field>
          </v-form>

          <v-card-actions>
            <v-btn @click="submitStep()" class="green lighten-1 white--text" :disabled="checkForm()" :loading="!submitDone">Submit</v-btn>
            <v-spacer></v-spacer>
            <v-btn @click="close()" class=" white">Close</v-btn>
          </v-card-actions>
        </v-card-text>
      </v-container>
    </v-card>

</template>

<script>
import { http } from '../../config/http'

export default {
  data: () => ({
    todo: {
      name: '',
      printer_ip: '',
      description: ''
    },
    hasError: false,
    submitDone: true,
    errorMessage: '',
    noExistingRecord: false
    
  }),

  props: {
    todos: {
      type: Array
    },
    rules: {
      type: Object
    }
  },

  methods: {
    submitStep() {
      console.log('submitted', this.todos); // noExistingRecord
      
      let existing_records = this.todos.filter(obj => {
        return obj.task_title === this.todo.task_title;
      });
      this.submitDone = false

      if(existing_records.length > 0){

        this.hasError = true;
        this.submitDone = true;
        this.errorMessage = 'Record is already existing.';

      } else if(existing_records.length == 0){
        this.hasError = false;
        this.errorMessage = '';
        http
        .post("/to_do", this.todo)
        .then(response => {
          this.submit = true
          this.alert(true, 'Create', 'todo')
          this.close()
        })
        .catch(e => {
          this.submit = true
          this.alert(false, 'Create', 'todo')
        });
      }
    },

    load() {
      this.todo = {
        email: '',
        printer_ip: '',
        description: ''
      }
      this.submitDone = true
    },

    close() {
      this.load()
      this.$emit('closeAdd')
    },

    checkForm() {
      if (this.todo.access_todo_id <= 0 || this.todo.task_title == '' || this.todo.interval_mins == '') {
        return true
      } else {
        return false
      }
    },

    alert(success, callName, resource) {
      console.log('Add Alerting')
      this.$emit('alert', success, callName, resource)
    }
  }
}
</script>
