<template>
  <v-card>
    <v-toolbar class="primary primaryText--text">
      <v-toolbar-title> Delete todo: {{todoName}}</v-toolbar-title>
    </v-toolbar>
    <v-container fluid>
      <v-card-text>
        <p class="text-lg-left">Are you sure you want to delete this todo?</p>
        <v-card-actions>
          <v-btn @click="archiveRecord()" class="red lighten-1 white--text">Delete</v-btn>
          <v-btn @click="close()" class=" white">Cancel</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-container>
  </v-card>
</template>

<script>
import { http } from '../../config/http'

export default {
  data: () => ({
    todoName: "",
    todoToDelete: {
      name: '',
      printer_ip: '',
      description: ''
    },
    deleteDone: true
  }),

  props: {
    todo: {
      type: Object
    },
    rules: {
      type: Object
    },
    editName: {
      type: String,
      default: ''
    },
    deletetodoName: {
      type: String,
      default: ''
    },
    edittodoDesc: {
      type: String,
      default: ''
    },
    edittodoPrinterIP: {
      type: String,
      default: ''
    }
  },

  methods: {
    load(){
      this.todoName = this.deletetodoName;
    },
    archiveRecord() {
      this.editDone = false
      http
        .delete("/to_do/" + this.todo._id)
        .then(response => {
          this.alert(true, 'Delete', 'todo')
          this.deleteDone = true
        })
        .catch(e => {
          this.alert(false, 'Delete', 'todo')
          this.deleteDone = true
        });
    },

    close() {
      this.$emit('closeDelete')
      // this.changedtodo = { name: '', description: '' };
    },

    alert(success, callName, resource) {
      this.$emit('alert', success, callName, resource)
      this.close()
    },

    // checkForm() {
    //   if (this.edittodoName == '') {
    //     return true
    //   } else {
    //     return false
    //   }
    // }
  },

  mounted() {
    this.load();
    // this.changedtodo = this.todo
  }

}
</script>

<style>

</style>
