<template>
  <v-card>
    <v-toolbar class="primary primaryText--text">
      <v-toolbar-title> Edit todo: {{edittodotitle}} </v-toolbar-title>
    </v-toolbar>
    <v-container fluid>
      <v-card-text>
        <v-alert :value="hasError" type="error">
          {{ errorMessage }}
        </v-alert>
        Fields with * are required.
        <!-- Begin Input Row -->
        <v-form ref="form">
          <v-text-field label="*Title" v-model="todo.task_title" required></v-text-field>
          <v-text-field label="Description" v-model="todo.description"></v-text-field>
          <v-text-field label="*Interval in Minutes" v-model="todo.interval_mins" type="number" required></v-text-field>
        </v-form>

        <v-card-actions>
          <v-btn @click="edit()" :loading="!editDone" :disabled="checkForm()" class="green lighten-1 white--text">Submit</v-btn>
          <v-spacer></v-spacer>
          <v-btn @click="close()" class=" white">Close</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-container>
  </v-card>
</template>

<script>
import { http } from '../../config/http'

export default {
  data: () => ({
    errorMessage: '',
    hasError: '',
    changedtodo: {
      name: '',
      printer_ip: '',
      description: ''
    },
    editDone: true
  }),

  props: {
    todo: {
      type: Object
    },
    rules: {
      type: Object
    },
    edittodotitle: {
      type: String,
      default: ''
    },
    edittodoDesc: {
      type: String,
      default: ''
    },
    edittodointervalmins: {
      type: Number,
      default: ''
    }
  },

  methods: {
    edit() {
      this.editDone = false
      http
        .put("/to_do/" + this.todo._id, this.todo)
        .then(response => {
          this.alert(true, 'Edit', 'todo')
          this.editDone = true
        })
        .catch(e => {
          this.alert(false, 'Edit', 'todo')
          this.editDone = true
        });
    },

    load(){
      Object.assign(this.$data, this.$options.data())
      console.log('todoeditdialog');
      this.changedtodo = this.todo;
      console.log('changedtodo', this.changedtodo);
      console.log('todo')
    },

    close() {
      console.log('dialog is closed');

      this.$emit('closeEdit')
    },

    alert(success, callName, resource) {
      this.$emit('alert', success, callName, resource)
      this.close()
    },

    checkForm() {
      console.log('this.edittodotitle', this.edittodotitle);
      if (this.edittodotitle == '') {
        return true
      } else {
        return false
      }
    }
  },

  mounted() {
    this.load();
    this.changedtodo = this.todo
  }

}
</script>

<style>

</style>
