<template>
  <v-card>
    <v-toolbar class="primary primaryText--text">
      <v-toolbar-title> Delete Item: {{deleteItemName}}</v-toolbar-title>
    </v-toolbar>
    <v-container fluid>
      <v-card-text>
        <p class="text-lg-left">Are you sure you want to delete this Item?</p>
        <v-card-actions>
          <v-btn @click="archiveRecord()" class="red lighten-1 white--text">Delete</v-btn>
          <v-btn @click="close()" class=" white">Cancel</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-container>
  </v-card>
</template>

<script>
import { http } from '../../config/http'

export default {
  data: () => ({
    ItemName: "",
    ItemToDelete: {
      name: '',
      printer_ip: '',
      description: ''
    },
    deleteDone: true
  }),

  props: {
    item: {
      type: Object
    },
    rules: {
      type: Object
    },
    editName: {
      type: String,
      default: ''
    },
    deleteItemName: {
      type: String,
      default: ''
    },
    editItemDesc: {
      type: String,
      default: ''
    },
    editItemPrinterIP: {
      type: String,
      default: ''
    }
  },

  methods: {
    load(){
      this.ItemName = this.deleteItemName;
    },
    archiveRecord() {
      this.editDone = false

      http.delete("/items/" + this.item._id)
        .then(response => {
          this.alert(true, 'Delete', 'item')
          this.deleteDone = true
        })
        .catch(e => {
          this.alert(false, 'Delete', 'item')
          this.deleteDone = true
        });
    },

    close() {
      this.$emit('closeDelete')
      // this.changedItem = { name: '', description: '' };
    },

    alert(success, callName, resource) {
      this.$emit('alert', success, callName, resource)
      this.close()
    },

    // checkForm() {
    //   if (this.editItemName == '') {
    //     return true
    //   } else {
    //     return false
    //   }
    // }
  },

  mounted() {
    this.load();
    // this.changedItem = this.Item
  }

}
</script>

<style>

</style>
