<template>
<v-card>
  <v-toolbar class="primary primaryText--text">
    <v-toolbar-title> Edit Item </v-toolbar-title>
  </v-toolbar>
  <v-container fluid>
    <v-card-text>

      <!-- Begin Input Row -->
      <v-form ref="form">
        <v-text-field label="Item Name*" v-model="editItemModel.name"  required> </v-text-field>
        <v-text-field label="Item ID" v-model="editItemModel.item_id"  required> </v-text-field>
        <v-select :items="selectRoutes" item-text="name" item-value="id" label="Item Process*" v-model="editItemModel.process._id" required ></v-select>
        <v-text-field label="Item Description" v-model="editItemModel.description" required> </v-text-field>
        <v-text-field label="Preparation Time (Minutes)" v-model="editItemModel.preparation_time_mins" type="Number" required> </v-text-field>
      </v-form>

      <v-card-actions>
        <v-btn @click="updateItem()" class="green lighten-1 white--text" :disabled="checkForm()" :loading="!submitDone">Save</v-btn>
        <v-spacer></v-spacer>
        <v-btn @click="close()" class="white">Close</v-btn>
      </v-card-actions>
    </v-card-text>
  </v-container>
</v-card>
</template>

<script>
import { configuration } from "../../config/configuration.js"
import {
  http
} from '../../config/http'

import io from 'socket.io-client';

export default {
  data: () => ({
    socket : io(configuration.socketURL),
    socket_url: '',
    socket_port: '',

    submitDone: true,
    addDialog: false,
    form_select_steps: [],
    headers: [{
        text: 'Area',
        align: 'left',
        value: 'area_name',
        sortable: false
      },
      {
        text: 'Step Number',
        value: 'calories',
        sortable: false,
        align: 'left'
      },
      {
        text: 'Always Show',
        value: 'fat',
        align: 'left',
        sortable: false
      },
      {
        text: '',
        value: 'carbs',
        sortable: false
      }
    ],
    form_select_areas: [],
    data_areas: []
  }),

  props: {
    rules: {
      type: Object
    },
    routesData: {
      type: Array
    },
    item: {
      type: Object
    },
    editItemModel: {
      type: Object
    },
    selectRoutes: {
      type: Array
    }
  },

  methods: {
    onReady: function(instance, CountUp) {
      /* Get Configuration of Socket */
      http.get("configuration").then(response => {
        console.log(response)
        this.socket_url = response.data.data.web_host;
        this.socket_port = response.data.data.socket_port;

        this.socket = io(this.socket_url + ':' + this.socket_port);
      }).catch(e => {
        this.errors.push(e);
      });
    },
    updateItem() {
      this.submitDone = false;
      let item_update = this.editItemModel;

      item_update.process = this.selectRoutes.filter(function( objRoute ) {
        return objRoute.id == item_update.process._id;
      })[0].value;
      item_update.item_id = parseInt(this.editItemModel.item_id);

      
      http.put("/items/" + this.editItemModel._id, item_update)
        .then(response => {
          this.socket.emit('communicate', trans_item_data)
          this.submit = true
          this.alert(true, 'Edit', 'Item')
          this.close()
        })
        .catch(e => {
          this.submit = true
          this.alert(true, 'Edit', 'Item')
          this.close()
        });
    },

    load() {
      this.submitDone = true;
    },

    close() {
      this.load();
      this.$emit('closeEdit')
    },

    alert(success, callName, resource) {
      this.$emit('alert', success, callName, resource)
      this.close()
    },

    checkForm() {
      if (this.editItemModel.name == '') {
        return true
      } else {
        return false
      }
    }
  },

  created: function() {
    this.onReady();
  },

  mounted(){
    console.log('selectRoutes', this.selectRoutes);
  }
}
</script>
