<template>
<v-card>
  <v-toolbar class="primary primaryText--text">
    <v-toolbar-title> Add Item </v-toolbar-title>
  </v-toolbar>
  <v-container fluid>
    <v-card-text>
      <v-alert :value="warningAddItem" type="error">
        Please add an process record before adding an item record.
      </v-alert>

      <!-- Begin Input Row -->
      <v-form ref="form">
        <v-text-field label="Item Name*" v-model="item.name" required> </v-text-field>
        <v-text-field label="Item ID" v-model="item.item_id" required> </v-text-field>
        <v-select v-model="item.process" :items="selectRoutes" item-text="name" item-value="id" label="Item Process*" required @change="checkStep(item)"></v-select>
        <v-text-field label="Item Description" v-model="item.description" required> </v-text-field>
        <v-text-field label="Preparation Time (Minutes)" v-model="item.preparation_time_mins" type="Number" required> </v-text-field>
        <!-- preparation_time_mins -->

      </v-form>

      <v-card-actions>
        <v-btn @click="submitStep()" class="green lighten-1 white--text"  :loading="!submitDone">Save</v-btn>
        <v-spacer></v-spacer>
        <v-btn @click="close()" class="white">Close</v-btn>
      </v-card-actions>
    </v-card-text>
  </v-container>
</v-card>
</template>

<script>
import {
  http
} from '../../config/http'

export default {
  data: () => ({
    item: {},
    warningAddItem: false,
    submitDone: true,
    addDialog: false,
    form_select_steps: [],
    headers: [{
        text: 'Area',
        align: 'left',
        value: 'area_name',
        sortable: false
      },
      {
        text: 'Step Number',
        value: 'calories',
        sortable: false,
        align: 'left'
      },
      {
        text: 'Always Show',
        value: 'fat',
        align: 'left',
        sortable: false
      },
      {
        text: '',
        value: 'carbs',
        sortable: false
      }
    ],
    form_select_areas: [],
    data_areas: []
  }),

  props: {
    rules: {
      type: Object
    },
    routesData: {
      type: Array
    },
    createItemModel: {
      type: Object
    },
    selectRoutes: {
      type: Array
    }
  },

  methods: {
    submitStep() {
      this.submitDone = false;
      let item_store = this.createItemModel;
      let item_process = this.item.process;
      let item_process_new = null;

      let step_data = this.selectRoutes.filter(( objRoute ) => {
        return objRoute.id == item_process.process;
      });

      Object(this.selectRoutes).forEach((route_select) => {
        if(route_select.id == item_process){
          item_process_new = route_select.value;
        }
      })

      /*
      item.name
      item.item_id
      */

      item_store = {};
      item_store = {
        description: this.item.description,
        item_id: parseInt(this.item.item_id),
        name: this.item.name,
        preparation_time_mins: Number(this.item.preparation_time_mins),
        status: true,
        process: item_process_new 
      };

      console.log('item submit', item_store);

      http.post("/items", item_store)
        .then(response => {
          this.createItemModel = {};
          this.submit = true;
          console.clear();
          this.alert(true, 'Create', 'step');
          this.close();
        })
        .catch(e => {
          this.submit = true
          this.alert(false, 'Create', 'step')
        });
    },

    checkStep(data){
      this.item = data;
      console.log('step check', data);
    },

    load() {
      this.item = {};
      this.submitDone = true;
    },

    close() {
      this.item = {};
      this.createItemModel = {};
      console.clear();
      this.load()
      this.$emit('closeAdd')
    },

    checkForm() {
      if(this.warningAddItem)
        return false

      if (this.createItemModel.name == '') {
        return true
      } else {
        return false
      }
    },

    alert(success, callName, resource) {
      console.log('Add Alerting')
      this.$emit('alert', success, callName, resource)
    }
  },

  mounted(){
    // Object.keys(this.areas_data).forEach(key => {
    //   this.data_areas[key] = {
    //     data_area: this.areas_data[key],
    //     step: 0,
    //     always_show: 1
    //   };

    //   this.form_select_steps[key] = Number(key) + 1;
    //   this.form_select_areas[key] = { name: this.areas_data[key].name, id: this.areas_data[key]._id };
    // });
    // this.step = this.createStepModel;
    console.log("addDialog triggered");
    console.log(this.selectRoutes);

    this.item = this.createItemModel;
  }
}
</script>
